@charset "UTF-8";

/* Foundation: override existing styles */
/* Note: Foundation base font-size is 16px, so divide desired pixel value by 16 to obtain its value in rems*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #555;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 2.3rem;
}

h1 {
	font-size: 2rem;
	line-height: 2.25rem;
}

h1 span {
	display: block;
	font-size: 1.3125rem;
}

h2 {
	font-size: 1.625rem;
	line-height: 2rem;
}

h2.highlight {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333;
	font-style: italic;
}

h2.table-title {
	font-size: 1.125rem;
	line-height: 1.625rem;
	font-weight: 700;
	border-top: 1px solid #c9d5e3;
	border-bottom: 1px solid #c9d5e3;
	padding: 1.125rem 0.625rem;
	margin-bottom: 0;
}

h3 {
	font-size: 1.3125rem;
	line-height: 1.75rem;
}

h3.table-title {
	font-size: 1.1875rem;
	line-height: 1.1875rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #17639F;
	padding: 0.85rem 0.625rem 0.55rem 0;
	border-bottom: 3px solid #17639F;
	margin-bottom: 0;
	margin-left: 0.625rem;
}

h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h4.table-title {
	font-family: inherit;
	font-size: 1.125rem;
	line-height: 1.625rem;
	font-weight: 700;
	text-transform: uppercase;
	color: inherit;
	margin-bottom: 0;
	padding: 0.85rem 0.625rem 0.55rem;
}

h5 {
	font-size: 1.125rem;
	line-height: 1.625rem;
	font-weight: 500;
	border-top: 3px solid #bfbfbf;
	border-bottom: 3px solid #bfbfbf;
	padding: 2.125rem 0;
}

h5.table-title {
	padding: 1.125rem 0;
	margin-bottom: 0;
	border-color: #c9d5e3;
	border-width: 1px;
	font-weight: 700;
}

h5.table-title.no-b-border {
	border-bottom: none;
}

form h5 {
	border: none;
	padding: 2.125rem 0 0;
}

h6 {
	font-size: .9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.125rem;
	line-height: 2.375rem;
	margin-bottom: 1.875rem;
}

form p {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

a {
	color: #555;
	text-decoration: underline;
}

a:focus,
a:hover {
	color: #ea6827;
}

blockquote {
	border-left: none;
	padding: 0;
	overflow: hidden;
	color: #555;
}

cite::before {
	content: "";
}

hr {
	border-bottom-color: #bfbfbf;
	border-bottom-width: 3px;
}

table tfoot,
table thead {
	background: #fff;
	color: #067570;
	text-transform: uppercase;
	font-weight: 700;
}

table tbody,
table tfoot,
table thead {
	background: #fff;
	border: none;
}

table tbody tr:nth-child(1n) {
	background-color: #f7f7f7;
}

table tbody tr:nth-child(2n) {
	background-color: #fff;
}

table.hover thead tr:hover {
	background-color: #fff;
}

table.hover tr:nth-of-type(2n):hover {
	background-color: transparent;
}

table.hover tbody tr.clickable-row:hover,
table.hover tbody tr.clickable-row:nth-of-type(2n):hover {
	background-color: #D1E0EC;
	cursor: pointer;
}

table.hover tbody tr.clickable-row:hover .fa {
	color: #17639F;
}

table.events thead th:nth-of-type(1),
table.statements thead th:nth-of-type(1),
table.programme thead th:nth-of-type(1) {
	width: 200px;
}

table.events thead th:nth-of-type(2),
table.programme thead th:nth-of-type(2) {
	width: 170px;
}

table.events thead td {
	width: 40px;
}

table.statements thead td {
	width: 75px;
}

table tbody td {
	vertical-align: top;
	font-size: 1.125rem;
	line-height: 1.625rem;
	border-bottom: 0.6rem solid #fff;
}

table.statements tbody tr td:nth-of-type(3),
table.statements tbody tr td:nth-of-type(4) {
	vertical-align: middle;
}

table p {
	margin-bottom: 0;
	font-size: 1rem;
	line-height: 1.625rem;
}

table.statements p strong {
	display: block;
}

table.statements tbody tr td:nth-of-type(3) a,
table.statements tbody tr td:nth-of-type(4) a {
	font-size: 0.875rem;
	text-decoration: none;
	display: block;
}

table.statements tbody tr td:nth-of-type(3) a i,
table.statements tbody tr td:nth-of-type(4) a i {
	color: #17639F;
	font-size: 1rem;
	display: block;
}

table.statements tbody tr td:nth-of-type(3) a:hover i,
table.statements tbody tr td:nth-of-type(4) a:hover i,
table.statements tbody tr td:nth-of-type(3) a:focus i,
table.statements tbody tr td:nth-of-type(4) a:focus i {
	color: #ea6827;
}

table.programme .blank {
	display: none;
}

table.programme .event-detail,
table.programme .event-detail:hover {
	background-color: transparent;
}

table .clickable-row .fa {
	font-size: 0.7rem;
}

table.programme .clickable-row .fa {
	font-size: 1.375rem;
}

table .clickable-row .fa-stack {
	height: 1.375rem;
	line-height: 1.375rem;
	width: 1.375rem;
	top: 2px;
}

table.programme .clickable-row .fa-circle,
table.hover.programme tr.clickable-row:hover .fa-circle {
	color: #fff;
}

table.programme .clickable-row .fa-circle-thin,
table.hover.programme tr.clickable-row:hover .fa-circle-thin {
	color: #17639F;
}

table.programme .clickable-row .fa-stack-1x,
table.hover.programme tr.clickable-row:hover .fa-stack-1x {
	font-size: 0.9rem;
	color: #17639F;
}

input,
select,
textarea {
	border-radius: 2px !important;
}

::-moz-placeholder {
	opacity: 1;
}

input::placeholder,
textarea::placeholder {
	color: #bbb;
	font-size: .9rem;
	font-style: italic;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	color: #bbb;
	font-size: .9rem;
	font-style: italic;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #bbb;
	font-size: .9rem;
	font-style: italic;
}

select:required:invalid {
	color: #bbb;
	font-size: .9rem;
	font-style: italic;
}

select option[value=""][disabled] {
	display: none;
}

select option {
	color: #555;
	font-style: normal;
}

.title-bar {
	background-color: #fff;
	color: #306095;
	padding-left: 0;
}

.menu-icon::after {
	background: #306095;
	box-shadow: 0 7px 0 #306095, 0 14px 0 #306095;
	height: 4px;
}

.menu-icon:hover::after {
	background: #306095;
	box-shadow: 0 7px 0 #306095, 0 14px 0 #306095;
}

#top-breadcrumbs {
	border-top: 5px solid #e2e2e2;
	padding-top: 1.6875rem;
}

#top-breadcrumbs .row {
	max-width: 75rem;
}

.breadcrumbs {
	margin-bottom: 0;
}

.breadcrumbs li {
	color: #555;
	font-size: 0.75rem;
	text-transform: none;
	font-weight: 500;
}

.breadcrumbs a {
	color: #17639F;
	text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs li::after,
.breadcrumbs li:not(:last-child)::after {
	font-size: 1rem;
	content: " ";
}

/* Large and up */
@media screen and (min-width: 64em) {
	.breadcrumbs li:not(:last-child)::after {
		color: #555;
		content: "\203A";
		top: 0;
	}
}

/*small*/
@media screen and (max-width: 39.9375em) {
	.media-object img {
		max-width: 100%;
	}

	.media-object.stack-for-small .media-object-section {
		text-align: center;
		width: 100%;
		padding-bottom: 0;
	}

	.media-object.stack-for-small .media-object-section:first-child {
		padding-bottom: 1rem;
	}

	.media-object.stack-for-small .media-object-section img {
		width: auto;
	}

	.media-object.stack-for-small .media-object-section p {
		max-width: none;
	}
}

.media-object-section:first-child {
	padding-right: 0;
}

.media-object-section:first-child img {
	margin-right: 1rem;
}

.callout {
	border: none;
}

.tooltip {
	background-color: #17639F;
}

.tooltip.top::before {
	border-color: #17639F transparent transparent;
}

/* Foundation upload button: file name positioned differently in IE, find another solution
input[type=file].show-for-sr {
  clip: auto;
  height: auto;
  left: 2rem;
  overflow: hidden;
  position: absolute !important;
  top: 0.3rem;
  width: auto;
}
*/
[type="file"] {
	margin-top: 0.5rem;
}

.help-text {
	margin-bottom: 1rem;
}

/************/
/* Foundation: added missing styles */
[class*="block-grid-"] {
	display: block;
	padding: 0;
	margin: 0 -0.55556rem;
}

[class*="block-grid-"]:before,
[class*="block-grid-"]:after {
	content: " ";
	display: table;
}

[class*="block-grid-"]:after {
	clear: both;
}

[class*="block-grid-"]>li {
	display: block;
	float: left;
	height: auto;
	padding: 0 0.55556rem 1.11111rem;
}

@media only screen {
	.small-block-grid-1>li {
		list-style: none;
		width: 100%;
	}

	.small-block-grid-1>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-1>li:nth-of-type(1n+1) {
		clear: both;
	}

	.small-block-grid-2>li {
		list-style: none;
		width: 50%;
	}

	.small-block-grid-2>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-2>li:nth-of-type(2n+1) {
		clear: both;
	}

	.small-block-grid-3>li {
		list-style: none;
		width: 33.33333%;
	}

	.small-block-grid-3>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-3>li:nth-of-type(3n+1) {
		clear: both;
	}

	.small-block-grid-4>li {
		list-style: none;
		width: 25%;
	}

	.small-block-grid-4>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-4>li:nth-of-type(4n+1) {
		clear: both;
	}

	.small-block-grid-5>li {
		list-style: none;
		width: 20%;
	}

	.small-block-grid-5>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-5>li:nth-of-type(5n+1) {
		clear: both;
	}

	.small-block-grid-6>li {
		list-style: none;
		width: 16.66667%;
	}

	.small-block-grid-6>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-6>li:nth-of-type(6n+1) {
		clear: both;
	}

	.small-block-grid-7>li {
		list-style: none;
		width: 14.28571%;
	}

	.small-block-grid-7>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-7>li:nth-of-type(7n+1) {
		clear: both;
	}

	.small-block-grid-8>li {
		list-style: none;
		width: 12.5%;
	}

	.small-block-grid-8>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-8>li:nth-of-type(8n+1) {
		clear: both;
	}

	.small-block-grid-9>li {
		list-style: none;
		width: 11.11111%;
	}

	.small-block-grid-9>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-9>li:nth-of-type(9n+1) {
		clear: both;
	}

	.small-block-grid-10>li {
		list-style: none;
		width: 10%;
	}

	.small-block-grid-10>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-10>li:nth-of-type(10n+1) {
		clear: both;
	}

	.small-block-grid-11>li {
		list-style: none;
		width: 9.09091%;
	}

	.small-block-grid-11>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-11>li:nth-of-type(11n+1) {
		clear: both;
	}

	.small-block-grid-12>li {
		list-style: none;
		width: 8.33333%;
	}

	.small-block-grid-12>li:nth-of-type(1n) {
		clear: none;
	}

	.small-block-grid-12>li:nth-of-type(12n+1) {
		clear: both;
	}
}

@media only screen and (min-width: 35.61111em) {
	.medium-block-grid-1>li {
		list-style: none;
		width: 100%;
	}

	.medium-block-grid-1>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-1>li:nth-of-type(1n+1) {
		clear: both;
	}

	.medium-block-grid-2>li {
		list-style: none;
		width: 50%;
	}

	.medium-block-grid-2>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-2>li:nth-of-type(2n+1) {
		clear: both;
	}

	.medium-block-grid-3>li {
		list-style: none;
		width: 33.33333%;
	}

	.medium-block-grid-3>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-3>li:nth-of-type(3n+1) {
		clear: both;
	}

	.medium-block-grid-4>li {
		list-style: none;
		width: 25%;
	}

	.medium-block-grid-4>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-4>li:nth-of-type(4n+1) {
		clear: both;
	}

	.medium-block-grid-5>li {
		list-style: none;
		width: 20%;
	}

	.medium-block-grid-5>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-5>li:nth-of-type(5n+1) {
		clear: both;
	}

	.medium-block-grid-6>li {
		list-style: none;
		width: 16.66667%;
	}

	.medium-block-grid-6>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-6>li:nth-of-type(6n+1) {
		clear: both;
	}

	.medium-block-grid-7>li {
		list-style: none;
		width: 14.28571%;
	}

	.medium-block-grid-7>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-7>li:nth-of-type(7n+1) {
		clear: both;
	}

	.medium-block-grid-8>li {
		list-style: none;
		width: 12.5%;
	}

	.medium-block-grid-8>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-8>li:nth-of-type(8n+1) {
		clear: both;
	}

	.medium-block-grid-9>li {
		list-style: none;
		width: 11.11111%;
	}

	.medium-block-grid-9>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-9>li:nth-of-type(9n+1) {
		clear: both;
	}

	.medium-block-grid-10>li {
		list-style: none;
		width: 10%;
	}

	.medium-block-grid-10>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-10>li:nth-of-type(10n+1) {
		clear: both;
	}

	.medium-block-grid-11>li {
		list-style: none;
		width: 9.09091%;
	}

	.medium-block-grid-11>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-11>li:nth-of-type(11n+1) {
		clear: both;
	}

	.medium-block-grid-12>li {
		list-style: none;
		width: 8.33333%;
	}

	.medium-block-grid-12>li:nth-of-type(1n) {
		clear: none;
	}

	.medium-block-grid-12>li:nth-of-type(12n+1) {
		clear: both;
	}
}

@media only screen and (min-width: 56.94444em) {
	.large-block-grid-1>li {
		list-style: none;
		width: 100%;
	}

	.large-block-grid-1>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-1>li:nth-of-type(1n+1) {
		clear: both;
	}

	.large-block-grid-2>li {
		list-style: none;
		width: 50%;
	}

	.large-block-grid-2>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-2>li:nth-of-type(2n+1) {
		clear: both;
	}

	.large-block-grid-3>li {
		list-style: none;
		width: 33.33333%;
	}

	.large-block-grid-3>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-3>li:nth-of-type(3n+1) {
		clear: both;
	}

	.large-block-grid-4>li {
		list-style: none;
		width: 25%;
	}

	.large-block-grid-4>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-4>li:nth-of-type(4n+1) {
		clear: both;
	}

	.large-block-grid-5>li {
		list-style: none;
		width: 20%;
	}

	.large-block-grid-5>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-5>li:nth-of-type(5n+1) {
		clear: both;
	}

	.large-block-grid-6>li {
		list-style: none;
		width: 16.66667%;
	}

	.large-block-grid-6>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-6>li:nth-of-type(6n+1) {
		clear: both;
	}

	.large-block-grid-7>li {
		list-style: none;
		width: 14.28571%;
	}

	.large-block-grid-7>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-7>li:nth-of-type(7n+1) {
		clear: both;
	}

	.large-block-grid-8>li {
		list-style: none;
		width: 12.5%;
	}

	.large-block-grid-8>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-8>li:nth-of-type(8n+1) {
		clear: both;
	}

	.large-block-grid-9>li {
		list-style: none;
		width: 11.11111%;
	}

	.large-block-grid-9>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-9>li:nth-of-type(9n+1) {
		clear: both;
	}

	.large-block-grid-10>li {
		list-style: none;
		width: 10%;
	}

	.large-block-grid-10>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-10>li:nth-of-type(10n+1) {
		clear: both;
	}

	.large-block-grid-11>li {
		list-style: none;
		width: 9.09091%;
	}

	.large-block-grid-11>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-11>li:nth-of-type(11n+1) {
		clear: both;
	}

	.large-block-grid-12>li {
		list-style: none;
		width: 8.33333%;
	}

	.large-block-grid-12>li:nth-of-type(1n) {
		clear: none;
	}

	.large-block-grid-12>li:nth-of-type(12n+1) {
		clear: both;
	}
}

.alert-box {
	border-style: solid;
	border-width: 1px;
	display: block;
	font-size: 0.72222rem;
	font-weight: normal;
	margin-bottom: 1.11111rem;
	padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
	position: relative;
	transition: opacity 300ms ease-out;
	background-color: #008CBA;
	border-color: #0078a0;
	color: #FFFFFF;
}

.alert-box .close {
	right: 0.22222rem;
	background: inherit;
	color: #333333;
	font-size: 1.22222rem;
	line-height: .9;
	margin-top: -0.61111rem;
	opacity: 0.3;
	padding: 0 6px 4px;
	position: absolute;
	top: 50%;
}

.alert-box .close:hover,
.alert-box .close:focus {
	opacity: 0.5;
}

.alert-box.radius {
	border-radius: 3px;
}

.alert-box.round {
	border-radius: 1000px;
}

.alert-box.success {
	background-color: #43AC6A;
	border-color: #3a945b;
	color: #FFFFFF;
}

.alert-box.alert {
	background-color: #FFE6E6;
	border-color: #c32644;
	color: #555;
}

.alert-box.secondary {
	background-color: #e7e7e7;
	border-color: #c7c7c7;
	color: #4f4f4f;
}

.alert-box.warning {
	background-color: #f08a24;
	border-color: #de770f;
	color: #FFFFFF;
}

.alert-box.info {
	background-color: #a0d3e8;
	border-color: #74bfdd;
	color: #4f4f4f;
}

.alert-box.alert-close {
	opacity: 0;
}

.error label,
.error label.error {
	color: #c32644;
}

/************/
/* Foundation: extend styles */
cite {
	clear: both;
	text-align: right;
	width: 90%;
	padding-top: 1rem;
	font-size: 1rem;
	font-style: normal;
	color: #555;
}

.menu.expanded>li {
	text-align: center;
}

.main-content>ul,
.main-content>ol {
	margin-top: 1rem;
}

.main-content ol {
	counter-reset: section;
	list-style-type: none;
}

.main-content>ul li,
.main-content>ol li {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.125rem;
	line-height: 2rem;
	margin-bottom: 1rem;
	position: relative;
}

.main-content ol li::before {
	content: counters(section, ".") ". ";
	counter-increment: section;
	position: absolute;
	width: 2.5rem;
	text-align: right;
	left: -3rem;
}

.main-content ol ol {
	margin-left: 2.25rem;
}

.main-content ol ol ol {
	margin-left: 3rem;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	.small-centered {
		float: none !important;
		margin-left: auto;
		margin-right: auto;
	}
}

/*medium and up*/
@media screen and (min-width: 40em) {
	.small-centered {
		float: left;
		margin-left: 0;
		margin-right: 0;
	}
}

/*small*/
@media screen and (max-width: 39.9375em) {
	.small-text-center {
		text-align: center;
	}
}

.media-object.standalone {
	border-top: 3px solid #bfbfbf;
	border-bottom: 3px solid #bfbfbf;
	padding: 0.875rem 0;
	margin-bottom: 1.875rem;
}

.callout .media-object {
	border-top: none;
	border-bottom: none;
	margin-bottom: 0;
}

li .media-object {
	margin-bottom: 0;
}

.media-object-section {
	position: relative;
}

.media-object.standalone .media-object-section {
	vertical-align: middle;
}

.media-object.stack-for-all .media-object-section {
	padding: 0;
	display: block;
	text-align: center;
	width: 100%;
}

.media-object.stack-for-all .media-object-section:first-child {
	padding-bottom: 1rem;
}

.media-object-section p {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	line-height: 1.375rem;
}

.standalone .media-object-section p {
	line-height: 1.5rem;
	max-width: 300px;
	color: #555;
}

.media-object.stack-for-all .media-object-section p {
	max-width: none;
}

li .media-object-section p {
	margin-bottom: 0;
}

li .media-object-section a {
	color: #555;
}

/*Used in Home top slider only, use parent id/class if style differs depending on container*/
.button.clear {
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
}

.button.clear:hover,
.button.clear:focus {
	background-color: #F17B37;
}

.button.clear,
.button.clear.disabled,
.button.clear[disabled],
.button.clear:hover,
.button.clear:hover.disabled,
.button.clear:hover[disabled],
.button.clear:focus,
.button.clear:focus.disabled,
.button.clear:focus[disabled] {
	border-color: transparent;
}

.button.clear i {
	margin-right: 0.5rem;
	margin-top: -0.1rem;
	color: #89ACD3;
}

.button.clear:hover i,
.button.clear:focus i {
	color: #fff;
}

/*Used in News ticker only, use parent id/class if style differs depending on container*/
.button.primary {
	margin: 0;
	font-weight: 500;
	font-size: 1.2rem;
	border-radius: 1.6em !important;
	padding: .5em .9em;
	background-color: #17639F;
	text-decoration: none;
}

.button.primary:focus,
.button.primary:hover {
	background-color: #F17B37;
}

.button.primary .fa-stack {
	font-size: 0.7rem;
	margin: -0.2rem 0.2rem 0 0;
}

.button.primary .fa-stack-1x {
	color: #17639f;
	font-weight: 700;
}

.button.primary:focus .fa-stack-1x,
.button.primary:hover .fa-stack-1x {
	color: #F17B37;
}

/************/
/* Flexslider: override existing styles */
#home-top-slider .flexslider {
	margin-bottom: 0;
	position: relative;
	background-color: #17639F;
	border: none;
	border-radius: 10px;
}

#home-top-slider .flex-video {
	margin-bottom: 0;
}

#home-top-slider .flex-video.widescreen {
	padding-bottom: 56.2%;
}

#home-top-slider .flex-direction-nav {
	position: relative;
	top: -15.7rem;
}

.flex-direction-nav a {
	line-height: 1;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 20px;
}

.flexslider:hover .flex-direction-nav .flex-next {
	right: -10px;
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	left: -10px;
	opacity: 1;
}

.flex-direction-nav a::before {
	color: rgba(23, 99, 159, 1);
	font-size: 24px;
	margin-top: 8px;
}

.flex-direction-nav a.flex-next::before {
	margin-right: 10px;
}

.flex-direction-nav a.flex-prev::before {
	margin-left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover::before,
.flexslider:hover .flex-direction-nav .flex-next:hover::before {
	color: rgba(234, 104, 39, 1);
}

.flex-control-paging li a {
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}

.flex-control-paging li a:hover {
	background: #F17B37 none repeat scroll 0 0;
}

.flex-control-paging li a.flex-active {
	background: #17639F none repeat scroll 0 0;
}

/************/
/* GP 2017 new styles */
blockquote>span {
	display: inline-block;
	float: left;
	width: 90%;
	margin-left: 2%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.125rem;
	line-height: 1.875rem;
	font-style: italic;
}

.no-border-bottom {
	border-bottom: none !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.module-margin-bottom {
	margin-bottom: 1.5625rem;
}

.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: #fff;
	background: url(../img/icon-hexagon-blue.png) 0 0 no-repeat;
	font-size: 12px;
	padding: 1em 1em 1em 1.1em;
	display: none;
}

.go-top:hover,
.go-top:focus {
	background: url(../img/icon-hexagon-orange.png) 0 0 no-repeat;
	color: #fff;
}

.fa-quote-left {
	float: left;
	color: #0eaba4;
}

.fa-quote-right {
	clear: left;
	float: right;
	color: #0eaba4;
}

cite>span {
	display: block;
	text-transform: uppercase;
	font-size: 0.875rem;
}

ul.links {
	float: right;
	text-align: right;
	line-height: 1.5rem;
}

ul.links.left {
	float: left;
	text-align: left;
}

ul.links i {
	margin-right: 0.5rem;
	color: #17639F;
}

ul.links a {
	font-size: 0.8125rem;
	text-transform: uppercase;
	color: #555;
	font-weight: 500;
	text-decoration: none;
}

ul.links a::after {
	color: #17639F;
	content: "\203A";
	font-size: 1.4rem;
	font-weight: 400;
	position: relative;
	top: 1px;
	margin-left: 0.7rem;
}

ul.links a:focus,
ul.links a:hover,
ul.links a:focus::after,
ul.links a:hover::after,
ul.links a:focus i,
ul.links a:hover i {
	color: #ea6827;
}

/* Foundation upload button: file name positioned differently in IE, find another solution
.file-upload{
	position:relative;
}
.file-upload .button{
	z-index: 10;
	position: relative;
}
*/
.list-module {
	margin-bottom: 2.5rem;
	position: relative;
	overflow: hidden;
}

.list-module h2 {
	font-size: 1.0625rem;
	line-height: 1.75rem;
	font-weight: 700;
	overflow: hidden;
	text-transform: uppercase;
	color: #555;
	margin-bottom: 0;
}

.list-module .no-link h2 {
	border-top: 4px solid #17639F;
	padding: 0.85rem 0.9375rem;
	font-size: 1.1875rem;
	line-height: 1.1875rem;
}

.list-module>h2 a {
	display: table;
	width: 100%;
	background-color: #17639F;
	color: #fff;
	padding: 0.35rem 0.9375rem;
	vertical-align: middle;
	border-radius: 3px;
	text-decoration: none;
}

.list-module>h2 a:focus,
.list-module>h2 a:hover {
	text-decoration: none;
	background-color: #ea6827;
}

.list-module>h2 a>span {
	display: table-cell;
	vertical-align: middle;
}

.list-module>h2 a>span:nth-child(2) {
	text-align: right;
	line-height: 0.6rem;
	padding-right: 0.3rem;
	width: 1rem;
	font-size: 0.6875rem;
	visibility: hidden;
	color: #fff;
	/*    color: #17639F;*/
}

.list-module>h2 a:hover>span:nth-child(2),
.list-module>h2 a:focus>span:nth-child(2) {
	visibility: visible;
}

.list-module>h2 a>span:last-child {
	text-align: right;
	width: .5rem;
}

.list-module>h2 a>span:last-child i {
	font-weight: 700;
}

.list-module .no-link h2 a {
	font-weight: 700;
	float: right;
	font-size: 1.0625rem;
	text-transform: none;
	padding: 0.85rem 0.9375rem;
}

.list-module .tag {
	color: #555;
	font-weight: 500;
	text-decoration: none;
}

.list-module .tag i {
	color: #17639F;
	margin-right: 0.5rem;
}

.list-module .tag:hover,
.list-module .tag:focus,
.list-module .tag:hover i,
.list-module .tag:focus i {
	color: #ea6827;
}

.list-module h3 {
	font-size: 0.875rem;
	line-height: 1.3125rem;
	padding: 0 0.9375rem 0.875rem;
	margin-top: 0.875rem;
	margin-bottom: 1.5625rem;
	border-bottom: 1px solid #e2e2e2;
}

.list-module .no-link {
	margin-bottom: 1.5625rem;
	border-bottom: 1px solid #17639F;
}

.list-module .no-link h3 {
	margin-bottom: 0;
	border-bottom: none;
}

.list-module>ul {
	margin-top: 1.5625rem;
}

.list-module li {
	overflow: hidden;
}

.list-module>ul:not(.menu)>li {
	padding-left: 1rem;
	padding-right: 1rem;
}

.list-module>ul>li:not(:last-child) {
	margin-bottom: 1.5625rem;
}

/* Up to Medium */
@media screen and (max-width: 63.9375em) {
	.list-module>ul>li:not(:last-child) .medium-12:first-of-type a {
		margin-bottom: 1.5625rem;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	.list-module>ul.b-margin-large>li:not(:last-child) {
		margin-bottom: 2.1875rem;
	}
}

/*small*/
@media screen and (max-width: 39.9375em) {
	.list-module .news-announcements li .small-12:not(:last-child) a {
		margin-bottom: 1.5625rem;
	}
}

.list-module .files-documents>li:not(:last-child) {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 1.5625rem;
}

.list-module li>i {
	float: left;
	margin-right: 0.625rem;
}

.list-module .files-documents li>div {
	border-left: 1px solid #d2dce8;
	padding-left: 0.625rem;
	overflow: hidden;
}

/*small and medium*/
@media screen and (max-width: 63.9375em) {
	.list-module .documents-publications li {
		margin-bottom: 0;
	}

	.list-module .documents-publications li .small-12 {
		border-bottom: 1px solid #e2e2e2;
		padding-bottom: 1.5625rem;
		padding-top: 2rem;
	}

	.list-module .documents-publications li:last-of-type .small-12:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}

	.list-module .documents-publications li .small-12:first-of-type {
		padding-top: 0;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	.list-module .documents-publications>li:not(:last-child) {
		border-bottom: 1px solid #e2e2e2;
		padding-bottom: 1.5625rem;
	}
}

.list-module .documents-publications li .medium-1 {
	border-right: 1px solid #d2dce8;
}

.list-module .documents-publications>li .media-object-section i {
	margin-right: .3rem;
}

.list-module .news-announcements li:not(.load-more) a {
	display: block;
	color: #555;
	overflow: hidden;
	text-decoration: none;
}

.list-module .news-announcements li:not(.load-more) a:hover,
.list-module .news-announcements li:not(.load-more) a:focus {
	text-decoration: underline;
}

.list-module .news-announcements li:not(:first-child):not(.load-more) a {
	border-top: 3px solid #f0f5fa;
	padding-top: 0.5rem;
}

/*small only*/
@media screen and (max-width: 39.9375em) {
	.list-module .news-announcements li .small-12:not(:first-child) a {
		border-top: 3px solid #f0f5fa;
		padding-top: 0.5rem;
	}
}

/*medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.list-module .news-announcements li .small-12:not(.medium-6):not(:first-child) a {
		border-top: 3px solid #f0f5fa;
		padding-top: 0.5rem;
	}
}

.list-module li>div h4 {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	line-height: 1.375rem;
	margin-bottom: .8rem;
	font-weight: 500;
}

.list-module .news-announcements li>div .media-object-section h4 {
	margin-bottom: 0.5rem;
}

.list-module li>div h4 a {
	color: #555;
	text-decoration: none;
}

.list-module li>div h4 a:hover,
.list-module li>div h4 a:focus {
	text-decoration: underline;
}

.list-module li>div span {
	font-size: 0.6875rem;
	text-transform: uppercase;
	font-weight: 500;
}

.list-module .files-documents li>div h4 {
	margin-bottom: 0;
}

.list-module .files-documents li>div h4 a {
	display: block;
}

.list-module .files-documents li>div h4 span {
	display: block;
	margin-top: -4px;
}

.list-module .files-documents li>div>span {
	float: left;
}

.list-module .files-documents li>div>span:first-of-type {
	text-transform: none;
}

.list-module .news-announcements li>div span.float-left {
	text-transform: none;
}

.list-module .news-announcements li>div span.float-left:not(:first-of-type) {
	text-transform: uppercase;
}

.list-module .news-announcements li>div span.float-left:not(:first-of-type)::before {
	content: "|";
	color: #17639F;
	margin: 0 0.5rem;
}

.news-announcements li .media-object {
	display: table;
	width: 100%;
}

/* Large and up */
@media screen and (min-width: 64em) {
	.news-announcements li .media-object {
		display: flex;
	}
}

.news-announcements li .media-object .media-object-section:last-child {
	width: 100%;
	display: block;
}

.list-module .float-left i,
.list-module .float-right i {
	margin-right: 0.3rem;
}

.list-module .news-announcements span i {
	color: #17639f;
}

.list-module .news-announcements a:hover span.float-right i,
.list-module .news-announcements a:focus span.float-right i {
	color: #ea6827;
}

.list-module .files-documents li>div .fa-stack {
	color: #17639f;
	margin-left: 0.5rem;
	font-size: .6rem;
}

.list-module .files-documents li>div .menu {
	float: left;
	font-size: 0.6875rem;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: -.2rem;
}

.list-module .files-documents li>div .menu>li>a {
	padding: 0.45rem 0.7rem;
	color: #555;
	font-weight: 700;
	text-decoration: none;
}

.list-module .files-documents li>div .menu>li>a:hover,
.list-module .files-documents li>div .menu>li>a:focus {
	color: #ea6827;
	text-decoration: underline;
}

.list-module .files-documents li>div .menu>li:not(:first-child)::before {
	content: "|";
	color: #e2e2e2;
	margin-top: 0.2rem;
	position: absolute;
}

/* Events list */
.list-module .events {
	margin-top: 0;
	margin-bottom: 1.5625rem;
}

.list-module .events li:not(:last-child)::before {
	content: "";
	position: absolute;
	height: 3.125rem;
	width: 1px;
	background-color: #c7d4e2;
	top: 0.5rem;
	right: -1px;
}

.list-module .events li {
	position: relative;
	display: inline-block;
	background-clip: content-box;
	padding-bottom: 6%;
	z-index: 1;
	width: 20%;
	overflow: visible;
}

.list-module>.events>li:not(:last-child) {
	margin-bottom: 0;
}

.list-module .events .current {
	background-color: #17639F;
}

.list-module .events li:hover,
.list-module .events li:focus {
	background-color: #ea6827;
}

.list-module .events .current::after,
.list-module .events li:hover::after,
.list-module .events li:focus::after {
	content: "";
	position: absolute;
	top: 71px;
	left: 0;
	background-color: inherit;
	padding-bottom: 50%;
	width: 57.7%;
	z-index: 0;
	transform-origin: 0 0;
	transform: rotate(-30deg) skewX(30deg);
}

.list-module .events a {
	color: #555;
	text-decoration: none;
	padding-bottom: 0;
	position: relative;
	z-index: 1;
}

.list-module .events .current a,
.list-module .events li:hover a,
.list-module .events li:focus a {
	color: #fff;
}

.list-module .events span {
	display: block;
	text-transform: uppercase;
	font-weight: 700;
}

.list-module .events span:first-child {
	font-size: 1.3125rem;
}

.list-module .events span:nth-of-type(2) {
	font-size: 0.75rem;
}

.list-module .events:not(.programme) span:nth-of-type(2) {
	border-bottom: 3px solid #fff;
}

.list-module .events span:nth-of-type(3) {
	color: #fff;
	font-size: 0.75rem;
	font-weight: 500;
	margin-top: 0.15rem;
}

.list-module .events i {
	color: #fff;
	font-size: 0.6rem;
	font-weight: 400;
	display: block;
	margin: 0;
}

.list-module .events li:not(.current) span:nth-of-type(3),
.list-module .events li:not(.current) i {
	visibility: hidden;
	color: #555;
}

.list-module .events.programme li:not(.current) span:nth-of-type(3) {
	visibility: visible;
}

.list-module .events li:hover span:nth-of-type(3),
.list-module .events li:focus span:nth-of-type(3),
.list-module .events li:hover i,
.list-module .events li:focus i {
	visibility: visible;
	color: #fff;
}

.list-module .events.programme {
	border-top: 3px solid #17639F;
	padding-top: 1px;
}

.list-module .events.programme .current::after,
.list-module .events.programme li:hover::after,
.list-module .events.programme li:focus::after {
	top: 66px;
}

.list-module .events.programme span:nth-of-type(3) {
	color: inherit;
	text-transform: none;
	font-size: 0.8125rem;
	font-style: italic;
	font-weight: 400;
	margin-top: 0;
}

/*large and up*/
@media screen and (min-width: 64em) {

	.list-module .events.programme .current::after,
	.list-module .events.programme li:hover::after,
	.list-module .events.programme li:focus::after {
		top: 74px;
	}

	.list-module .events.programme span:first-child {
		font-size: 2.5rem;
		float: left;
	}

	.list-module .events.programme span:nth-of-type(2) {
		text-align: left;
		margin-top: 0.25rem;
		padding-left: 3.25rem;
	}

	.list-module .events.programme span:nth-of-type(3) {
		text-align: left;
		padding-left: 3.25rem;
		padding-bottom: 0.7rem;
		border-bottom: 3px solid #fff;
		margin-bottom: 0.5rem;
		margin-top: 0.15rem;
	}

	.list-module .events.programme i {
		clear: left;
	}
}

/***/

.list-module #events-detail {
	border-top: 1px solid #17639F;
	text-align: center;
	position: relative;
	min-height: 9.0625rem;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f7fa+0,f3f7fa+46,ffffff+100 */
	/* Old browsers */
	background: rgb(243, 247, 250);
	/* FF3.6-15 */
	background: -moz-linear-gradient(top, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 46%, rgba(255, 255, 255, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(top, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 46%, rgba(255, 255, 255, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 46%, rgba(255, 255, 255, 1) 100%);
}

.list-module #events-detail div div:first-child {
	font-size: 0.75rem;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 0.5rem;
	width: 100%;
}

.list-module #events-detail div div:first-child span {
	padding: 0 0.8rem;
	background-color: rgba(243, 247, 250, 1);
	color: #17639f;
}

.list-module #events-detail div div:last-child {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.9375rem;
	font-weight: 500;
	font-style: italic;
	border-top: 1px solid #17639F;
	display: inline-block;
	padding-top: 0.4rem;
	margin-top: 1rem;
}

.list-module #events-detail div div:last-child span {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.375rem;
	font-weight: 700;
	font-style: normal;
	color: #17639F;
	vertical-align: sub;
}

.list-module #events-detail div div:last-child i {
	color: #17639F;
	font-size: 0.5rem;
	margin: 0 0.5rem;
	vertical-align: middle;
}

.list-module #events-detail div div:last-child i:first-child {
	margin: 0 0.5rem 0 0;
}

.list-module #events-detail div div:last-child i:last-child {
	margin: 0 0 0 0.5rem;
}

.list-module .links-side-nav {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 0.8rem;
}

.list-module>ul.links-side-nav>li {
	margin-bottom: 0;
	padding: 0;
}

.list-module .links-side-nav a {
	padding: 0.5rem 1rem 0.4rem;
	border-bottom: 1px solid #f0f5fa;
	color: #555;
	display: block;
	text-decoration: none;
}

.list-module .links-side-nav li:last-child a {
	border-bottom: none;
}

.list-module .links-side-nav a:hover {
	background-color: #EA6827;
	color: #fff;
}

.list-module .links-side-nav a>i:first-child {
	color: #17639F;
	margin-right: 1.25rem;
}

.list-module .links-side-nav a i:last-of-type {
	float: right;
	color: #555;
	margin-top: 4px;
}

.list-module .links-side-nav a:hover i {
	color: #fff;
}

/* Hashtags list */
.list-module .hashtags {
	text-transform: none;
}

.list-module .hashtags li {
	text-align: center;
}

.list-module .links-side-nav a {
	color: #17639F;
}

.list-module .announcements li:not(.load-more) {
	border-top: 3px solid #17639F;
	padding-top: 1.25rem;
}

.list-module>ul.announcements>li:not(:last-child) {
	margin-bottom: 2.5rem;
}

.list-module .announcements li>div h4 {
	font-size: 1.3125rem;
	line-height: 1.375rem;
}

.list-module .announcements li:not(.load-more)>div span {
	margin: 0.5rem 0;
	display: block;
	font-weight: 700;
}

.list-module .announcements li i {
	color: #17639F;
	margin-right: .3rem;
}

.list-module .announcements .media-object-section p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1rem;
	line-height: 1.25rem;
}

.list-module .announcements li:not(.load-more)>div:last-child {
	text-align: right;
	margin-top: 2rem;
	/* RP announcements list layout change
	border-top:1px solid #bfbfbf;
	padding-top:0.5rem;
	*/
}

.list-module .announcements li:not(.load-more)>div:last-child a {
	text-transform: uppercase;
	color: #555;
	font-size: 0.8125rem;
	font-weight: 500;
	text-decoration: none;
}

.list-module .announcements li:not(.load-more)>div:last-child a:hover,
.list-module .announcements li:not(.load-more)>div:last-child a:focus {
	text-decoration: underline;
}

.list-module .announcements li>div:last-child a i {
	font-size: 0.6rem;
	margin-right: 0.3rem;
}

.load-more div {
	text-align: center;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 1rem 0;
	margin-top: 5.5rem;
}

.load-more a,
.list-module li.load-more>div span {
	text-transform: uppercase;
	font-size: 1rem;
	color: #555;
	font-weight: 500;
	text-decoration: none;
}

.load-more a:hover,
.load-more a:focus {
	text-decoration: underline;
}

.load-more i {
	color: #17639F;
}

.add-list-element {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.875rem;
	border-top: 1px solid #e2e2e2;
	padding-top: 1rem;
	margin-top: 3.5rem;
}

.add-list-element .fa-stack {
	color: #17639F;
	margin-right: 0.3rem;
	height: 1.5em;
	line-height: 1.5em;
	margin-top: -0.1rem;
}

.add-list-element .fa-stack-2x {
	font-size: 1.5em;
}

.add-list-element a {
	text-decoration: none;
	color: #555;
	font-weight: 500;
}

.add-list-element:hover .fa-stack,
.add-list-element:focus .fa-stack,
.add-list-element:hover a,
.add-list-element:focus a {
	color: #ea6827;
}

.event-header {
	font-size: 0.9375rem;
	margin-bottom: 2.1875rem;
}

table.programme .event-header {
	margin-bottom: 0;
}

.event-header .row {
	margin-left: 0;
	margin-right: 0;
}

.event-header .row:first-child,
.event-header .row:nth-child(3) {
	border-top: 1px solid #c9d5e3;
	border-bottom: 1px solid #c9d5e3;
	text-transform: uppercase;
	font-weight: 700;
	padding: 1px 0;
}

.event-header .row:nth-child(4) {
	border-bottom: 2px solid #17639F;
	text-transform: uppercase;
	font-weight: 500;
	padding: 1px 0;
}

.event-header .columns {
	padding: 0.875rem 0.875rem 0.65rem;
}

/*large and up*/
@media screen and (min-width: 64em) {
	.event-header .columns {
		padding: 0.875rem 0 0.65rem;
	}
}

.event-header .row:first-child .columns:first-child,
.event-header .row:nth-child(3) .columns {
	padding-left: 0.875rem;
}

/*large and up*/
@media screen and (min-width: 64em) {
	.event-header .columns:not(:last-child) {
		border-right: 1px solid #c9d5e3;
	}
}

.event-header i {
	margin-right: 0.4rem;
}

.event-header .row:first-child i {
	color: #067570;
}

.event-header a {
	text-decoration: none;
}

.event-header .row:first-child a {
	color: #17639F;
	text-transform: none;
	margin-left: 1rem;
}

.event-header .row:first-child a i {
	color: #17639F;
}

.event-header .row:first-child a:hover,
.event-header .row:first-child a:focus,
.event-header .row:first-child a:hover i,
.event-header .row:first-child a:focus i {
	color: #ea6827;
}

.event-header .row:first-child a .fa-stack {
	margin-right: 0.2rem;
	margin-top: -0.3rem;
	vertical-align: top;
}

table.programme .event-header .row:first-child a .fa-stack {
	margin-top: -0.2rem;
}

.event-header .row:first-child a .fa-stack-1x {
	font-size: 0.8rem;
}

.event-header dl {
	margin-bottom: 0;
	line-height: 1.3125rem;
}

/*large and up*/
@media screen and (min-width: 64em) {
	.event-header dl {
		margin-left: 0.875rem;
	}
}

.event-header dt {
	margin-bottom: 0;
	text-transform: uppercase;
}

.event-header .row:nth-child(3) span {
	color: #067570;
}

.photogallery {
	margin-bottom: 1.875rem;
}

/*responsive youtube:
.embed-container {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;}
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }*/
#home-top-slider {
	background-color: #fff;
}

#home-top-slider>.row {
	max-width: 75rem;
}

#home-top-slider .flexslider {
	margin-top: 1rem;
	overflow: hidden;
	color: #fff;
}

#home-top-slider li>div {
	position: relative;
}

#home-top-slider li>div .columns:first-child {
	padding-left: 0;
	background-color: #fff;
	padding-right: 0;
}

/*large and up*/
@media screen and (min-width: 64em) {
	#home-top-slider li>div .columns:first-child {
		border-right: .9375rem solid #17639F;
	}
}

#home-top-slider li>div .columns:last-child {
	padding-right: 1.875rem;
}

#home-top-slider .image-caption {
	position: absolute;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1rem;
}

#home-top-slider .image-caption h2 {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #17639F;
	margin-bottom: 0;
}

#home-top-slider .image-caption.top-left {
	top: 0;
	left: 1rem;
}

#home-top-slider .image-caption.top-right {
	top: 0;
	right: 1rem;
}

#home-top-slider .image-caption.bottom-left {
	bottom: 0;
	left: 1rem;
}

#home-top-slider .image-caption.bottom-right {
	bottom: 0;
	right: 1rem;
}

#home-top-slider .has-tip {
	position: absolute;
	z-index: 100;
	bottom: 1rem;
	right: 1rem;
	border-bottom: none;
}

#home-top-slider .has-tip .fa-stack {
	height: 1.3em;
	line-height: 1.3em;
	width: 1.3em;
}

#home-top-slider .has-tip .fa-stack-2x {
	color: #17639F;
	font-size: 1.2em;
}

#home-top-slider .has-tip .fa-stack-1x {
	color: #fff;
	font-size: 0.7em;
}

/* vertical middle:
#home-top-slider .video-caption {position: absolute;top: 50%;transform: translate(0, -50%);}*/
#home-top-slider .video-caption h2 {
	border-bottom: 2px solid #fff;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.375rem;
	color: #fff;
	padding: 0 0 2.5625rem;
	margin: 3.75rem 0 2.5625rem;
}

#home-top-slider .video-caption a {
	display: block;
	overflow: hidden;
	color: #fff;
	text-decoration: none;
}

#home-top-slider .video-caption a:hover,
#home-top-slider .video-caption a:focus {
	text-decoration: underline;
}

#home-top-slider .video-caption a:hover .button.clear,
#home-top-slider .video-caption a:focus .button.clear {
	background-color: #F17B37;
}

#home-top-slider .video-caption a:hover .button.clear i,
#home-top-slider .video-caption a:focus .button.clear i {
	color: #fff;
}

#home-top-slider .video-caption p {
	margin-bottom: 0;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

#updates {
	overflow: hidden;
	padding: 1.5rem 0.9375rem;
}

#updates.hidden .large-2:first-of-type {
	padding-right: 0;
}

/*medium*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#updates.hidden .medium-7 {
		width: 66.66667%;
		padding: 0;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#updates.hidden .medium-2:last-of-type {
		width: 6.83333%;
		padding-left: 0;
	}
}

/*large and up*/
@media screen and (min-width: 64em) {
	#updates.hidden .large-8 {
		width: 76.5%;
		padding: 0;
	}
}

#updates .columns:first-child>span {
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-transform: uppercase;
	display: table-cell;
	width: 6.25rem;
	color: #b4252d;
	padding-top: 0.65rem;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#updates .columns:first-child>span {
		display: initial;
	}
}


/* Larger and up */
@media screen and (min-width: 74.9375em) {
	#updates .columns:first-child>span {
		font-size: 0.9375rem;
	}
}

#updates.hidden .columns:first-child>span {
	color: #555;
	width: auto;
}

#updates .columns:first-child>span::before {
	content: "\f0eb";
	font-family: FontAwesome;
	font-weight: 200;
	font-size: 1.4rem;
	float: left;
	color: #fff;
	background: url(../img/icon-hexagon-red.svg) 0 0 no-repeat;
	background-size: contain;
	padding: 1rem 1rem 1rem 0.9rem;
	margin-right: 0.4rem;
	margin-top: -0.65rem;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#updates .columns:first-child>span::before {
		float: none;
	}
}

#updates.hidden .columns:first-child>span::before {
	background-image: url(../img/icon-hexagon-blue.svg);
}

#updates .columns:first-child>span span {
	float: left;
	width: 3rem;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#updates .columns:first-child>span span {
		float: none;
	}
}

#updates.hidden .columns:first-child>span span {
	width: auto;
	margin-top: 6px;
}

#updates-scroller {
	margin-bottom: 0;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#updates #updates-scroller {
		margin: 10px 0;
	}
}

#updates.hidden #updates-scroller {
	border-top: 1px solid #acacac;
	transform: translateY(22px);
}

#updates.hidden #updates-scroller li {
	visibility: hidden;
}

#updates-scroller li {
	font-size: 1.25rem;
	line-height: 1.375rem;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 46px;
}

/*small and medium*/
@media screen and (max-width: 63.9375em) {
	#updates-scroller li {
		font-size: 1rem;
	}

	#updates-scroller li .button.primary {
		font-size: .875rem;
	}

	#updates-scroller li .button.primary .fa-stack {
		display: none;
	}
}

#updates-controls {
	text-transform: uppercase;
	font-size: 0.6875rem;
	font-weight: 700;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#updates-controls {
		transform: translateX(-37%);
	}
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#updates.hidden #updates-controls {
		transform: translateX(-45%);
	}
}

#updates #updates-controls span {
	float: right;
	text-align: center;
	cursor: pointer;
}

#updates:not(.hidden) #updates-controls span {
	width: 34px;
}

#updates.hidden #updates-controls span {
	display: none !important;
}

#updates #updates-controls #updates-show {
	display: none;
}

#updates.hidden #updates-controls #updates-show {
	display: block !important;
	margin-top: 14px;
}

#updates.hidden #updates-controls #updates-show i {
	margin-left: 5px;
	vertical-align: middle;
}

#updates-hide {
	padding-left: 1rem;
	margin-left: 1rem;
	border-left: 1px solid #acacac;
}

#updates-play {
	display: none;
	color: #17639F;
}

#updates-controls span:hover,
#updates-controls span:focus,
#updates-play:hover,
#updates-play:focus {
	color: #F17B37;
}

#updates-controls i {
	font-size: 1.8rem;
	display: block;
}

#updates.hidden #updates-controls i {
	font-size: 1rem;
	display: inline;
}

#days-countdown::before {
	content: "|";
	color: #1D4775;
	font-size: 1rem;
	position: absolute;
	top: 1.85rem;
	left: -4px;
}

.small-6>#days-countdown::before {
	top: 0;
}

#days-countdown {
	font-size: 3.625rem;
	font-weight: 700;
	color: #fff;
	background: #03847F url(../img/days-countdown-bkg.png) 0 center repeat-x;
	text-align: center;
	border-radius: 5px;
	height: 83px;
	position: relative;
	margin: 0 4px;
}

.small-6>#days-countdown {
	height: 74px;
	line-height: 4.55rem;
}

#days-countdown::after {
	content: "|";
	color: #1D4775;
	font-size: 1rem;
	position: absolute;
	top: 1.85rem;
	right: -5px;
}

.small-6>#days-countdown::after {
	top: 0;
}

#text-countdown {
	font-size: 0.8125rem;
	font-weight: 700;
	color: #555;
	text-transform: uppercase;
	margin-top: 2rem;
	display: block;
	letter-spacing: 4px;
}

.small-6>#text-countdown {
	text-align: center;
	top: -1.8rem;
	clear: both;
	position: relative;
}

#registration-banner {
	background: #03847F url(../img/registration-banner-bkg-1.png) 0 0 repeat-x;
	float: left;
	height: 89px;
	text-align: center;
	width: 97%;
	display: table;
}

#registration-banner div {
	display: table-cell;
	vertical-align: middle;
}

#registration-banner a {
	color: #fff;
	text-decoration: none;
}

#registration-banner h2 {
	font-size: 1.2rem;
	line-height: normal;
	margin: 6px 0 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

#registration-banner i {
	float: left;
	font-size: .8rem;
}

#registration-banner span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.875rem;
	display: block;
	margin-top: -4px;
	text-align: left;
	padding-left: 18px;
	line-height: 1rem;
}

#registration-banner span strong {
	display: block;
}

#registration-banner-border {
	float: left;
	background: url(../img/registration-banner-bkg-2.png) 0 0 no-repeat;
	height: 89px;
}

#sign-up-home p {
	margin-bottom: 0.5rem;
	font-size: 0.9375rem;
	color: #666;
	font-style: italic;
	padding-left: 1rem;
	line-height: 1.5rem;
}

#sign-up-home .input-group-field {
	box-shadow: none;
	border-color: #acacac;
	transition: none;
	height: 2.56rem;
	font-size: 0.8125rem;
	border-radius: 0px !important;
}

#sign-up-home .input-group-field:focus {
	border-color: #545454;
}

#sign-up-home .button {
	background-color: #acacac;
	font-weight: 500;
	border-radius: 0px !important;
}

#sign-up-home .input-group-field:focus+.input-group-button .button {
	background-color: #545454;
}

#sign-up-home .button:focus,
#sign-up-home .button:hover,
#sign-up-home .input-group-field:focus+.input-group-button .button:hover {
	background-color: #F17C34;
}

#photo-slider .flexslider {
	margin-bottom: 2rem;
}

#process-bar {
	background-color: #e2e2e2;
}

#process-steps {
	background-color: #555;
	color: #fff;
	overflow: hidden;
	display: table;
	padding-right: 3px;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#process-steps {
		background-color: transparent;
		display: block;
	}
}

#process-steps>div {
	float: left;
	padding: 1rem 1rem 0.6rem;
	position: relative;
	margin-right: 1.98rem;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#process-steps>div {
		float: none;
		background-color: #555;
	}
}

#process-steps>div::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 1.85rem solid transparent;
	border-bottom: 1.85rem solid transparent;
	border-left: 1.85rem solid #555;
	position: absolute;
	z-index: 30;
	right: -1.5rem;
	top: 0;
}

#process-steps>div.current {
	background-color: #17639F;
	;
}

#process-steps>div.current::before {
	content: "";
	width: 2rem;
	height: 4rem;
	background-color: #17639F;
	position: absolute;
	left: -2rem;
	top: 0;
}

#process-steps>div.current::after {
	border-left: 1.85rem solid #17639F;
}

#process-steps>div div::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 2.5rem solid transparent;
	border-bottom: 2.5rem solid transparent;
	border-left: 2.5rem solid #fff;
	position: absolute;
	z-index: 20;
	right: -2.2rem;
	top: -0.65rem;
}

#process-steps>div:last-of-type div::after {
	background-color: #e2e2e2;
	z-index: 19;
}

#process-steps h5 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1rem;
	padding: 0;
	border: none;
	margin: 0;
	text-transform: uppercase;
	color: #fff;
}

#process-steps .current h5 {
	color: #fff;
}

#process-steps span {
	font-size: 0.75rem;
	display: block;
}

.alert-box.alert h3 {
	margin-bottom: 1rem;
}

.alert-box.alert ul {
	list-style: none;
}

.alert-box.alert ul strong {
	color: #c32644;
}

#page-container {
	background-color: #fff;
}

/*Correct position of main content anchor when scrolling to it using the Skip to content link.
It's a bug of Chrome and FF that do not consider that the Skip bar disappears when clicking the link.
IE and Edge don't have this bug but, as specific browser hacks do not validate on W3C, will unfortunately scroll 60px below target*/
main {
	position: relative;
}

#mainContent {
	position: absolute;
	top: -60px;
}

/*Chrome hack to position main content, does not validate on W3C
#mainContent:not(*:root) {
	position:absolute;
	top:-60px;
}
*/
/*FF hack to main position content, does not validate on W3C
@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
	#mainContent {
		position:absolute;
		top:-60px;
	}
}
*/

#skip-to-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

#skip-to-content a {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 500;
	color: #333;
	padding: 1rem 0;
}

#skip-to-content a i {
	color: #17639F;
	margin-right: 5px;
}

/*small and medium*/
@media screen and (max-width: 63.9375em) {
	#GP-header {
		padding-top: 1.125rem;
		padding-bottom: 0.75rem;
	}

	#GP-header img {
		margin-bottom: 1rem;
	}
}

/*large and up*/
@media screen and (min-width: 64em) {
	#GP-header {
		padding-top: 2.125rem;
		padding-bottom: 1.75rem;
	}
}

/* Larger and up */
@media screen and (min-width: 74.9375em) {
	#GP-header .large-6 {
		width: 42%;
	}
}

#header-service-menu {
	font-size: 0.8125rem;
	font-weight: 500;
	color: #555;
	text-transform: uppercase;
}

.twitter-divider {
	border-bottom: 4px solid #17639f;
	color: #17639f;
	position: relative;
	margin: .5rem 0;
}

.twitter-divider i {
	position: absolute;
	top: -6px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	padding: 0 10px;
}

#header-service-menu li {
	position: relative;
}

#header-service-menu li:not(:last-child)::after {
	content: "|";
	position: absolute;
	top: 6px;
	right: -1px;
}

#header-service-menu li a {
	color: #555;
	text-decoration: none;
}

#header-service-menu li a:hover,
#header-service-menu li a:focus {
	text-decoration: underline;
}

#header-hashtags a {
	color: #17639F;
	font-weight: 500;
	font-size: .875rem;
	display: inline-block;
	text-decoration: none;
}

#header-hashtags a:hover,
#header-hashtags a:focus {
	text-decoration: underline;
}

#header-hashtags a i {
	vertical-align: top;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#header-hashtags.menu li:last-of-type {
		display: block;
	}
}

/*small and medium*/
@media screen and (max-width: 63.9375em) {
	#header-hashtags.menu>li>a {
		padding: 0 0.2rem;
	}
}

#header-menu-band {
	background-color: #fff;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#header-menu-band {
		border-top: 5px solid #e2e2e2;
		border-bottom: 5px solid #e2e2e2;
	}
}

#header-menu-band>.row {
	max-width: 75rem;
}

#header-main-menu {
	font-weight: 500;
	font-size: 1.125rem;
}

#header-main-menu li a {
	color: #17639F;
	background-color: #fff;
	padding: 1.25rem 1rem;
	text-decoration: none;
}

#header-main-menu li a:focus,
#header-main-menu li a:hover {
	color: #fff;
	background-color: #F17B37;
	text-decoration: none;
}

#content-container {
	padding-top: 1.875rem;
	padding-bottom: 2.375rem;
	background-color: #fff;
}

#left-main-menu>li a {
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #555;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #fff;
	text-decoration: none;
	position: relative;
	padding: .9rem 1rem .7rem 2rem;
}

#left-main-menu>li a:hover {
	color: #fff;
	background-color: #17639F;
	text-decoration: none;
}

#left-main-menu>li.active>a {
	background-color: #17639F;
	color: #fff;
}

#left-main-menu>li>a::before {
	color: #17639F;
	content: "\203A";
	/*\203A: HTML entity for >*/
	font-size: 1.4rem;
	font-weight: 400;
	position: absolute;
	top: .5rem;
	left: .9rem;
}

#left-main-menu>li>a:hover::before {
	color: #fff;
}

#left-main-menu .active>a::before {
	color: #fff;
}

#left-main-menu>li a .fa-stack {
	height: 1.375rem;
	line-height: 1.375rem;
	width: 1.375rem;
	float: right;
	top: -5px;
	color: #555;
}

#left-main-menu>li.active a .fa-stack {
	color: #fff;
}

/*#left-main-menu > li.opened a .fa-stack {
  transform: scaleY(-1);
  transform-origin: 50% 50% 0;
}*/
#left-main-menu>li a i {
	font-size: 1.375rem;
}

#left-main-menu>li a i.fa-stack-1x {
	font-size: 1rem;
}

#left-main-menu>li a:hover i {
	color: #17639F;
}

#left-main-menu>li a:hover .fa-circle-thin::before {
	content: "\f111";
	color: #fff;
}

#left-main-menu>li:not(.opened) .menu {
	display: none;
}

#left-main-menu .menu.nested {
	margin-left: 0;
}

#left-main-menu .menu.nested>li>a {
	padding-left: 2rem;
	padding-top: 0.9rem;
	font-size: 0.75rem;
	font-weight: 400;
	background-color: #fff;
}

#left-main-menu .menu.nested>li>a:hover {
	background-color: #17639F;
}

#left-main-menu .menu.nested>li.active>a {
	background-color: #17639F;
	color: #fff;
	padding-top: 0.5rem;
}

#left-main-menu .menu.nested>li.active>a::before {
	color: #fff;
	content: "\203A";
	font-size: 1.4rem;
	font-weight: 400;
	position: relative;
	top: 2px;
	margin-right: 0.7rem;
}

#footer-logo-container {
	background-color: #fff;
	border-top: 5px solid #e2e2e2;
	padding: 0.9375rem 0 1.5625rem;
}

#footer-logo-container .breadcrumbs {
	display: table;
	width: 100%;
	margin: 0;
}

#footer-logo-container .breadcrumbs li {
	display: table-cell;
	float: none;
}

#footer-logo-container .breadcrumbs li::after,
#footer-logo-container .breadcrumbs li:not(:last-child)::after {
	font-size: 1rem;
	content: " ";
}

/* Larger and up */
@media screen and (min-width: 74.9375em) {
	#footer-logo-container .breadcrumbs li:not(:last-child)::after {
		margin: 0 0.8rem;
		color: #b8b8b8;
		font-size: 1.2rem;
		top: 3px;
		content: "\203A";
	}
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#footer-logo-container .small-centered:not(:last-child) img {
		margin-bottom: 1rem;
	}
}

#footer-nav-container {
	background-color: #eaf0f6;
	border-top: 1px solid #dbdbdb;
	font-size: 0.8125rem;
	text-transform: uppercase;
	color: #333;
	padding-bottom: 0.5rem;
}

/*small*/
@media screen and (max-width: 39.9375em) {
	#footer-nav-container {
		font-size: 0.5rem;
	}
}

#footer-nav-container span {
	display: inline-block;
	margin-top: 1.3rem;
}

/*Medium and up*/
@media screen and (min-width: 40em) {
	#footer-nav-container .menu-centered {
		float: right;
	}

	#footer-nav-container .menu-centered>.menu {
		display: block;
		margin-top: 0.8rem;
	}
}

#footer-service-menu li {
	position: relative;
}

#footer-service-menu li:not(:last-child)::after {
	color: #306095;
	content: "|";
	position: absolute;
	top: 21%;
	right: 0;
}

#footer-service-menu li a {
	font-weight: 500;
	color: #183b61;
	text-decoration: none;
}

#footer-service-menu li a:hover,
#footer-service-menu li a:focus {
	text-decoration: underline;
}

#footer-service-menu li:last-child a {
	padding-right: 0;
}

/************/