<!doctype html>
<html lang="en">

<head>
  <title>DTS</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="assets/css/style-dts.css">
</head>

<body>
  <div class="dts-page-container">

    include includes/_header.html

    <main class="dts-main-container">

      include includes/_page-title.html

      <div class="mg-container">

        include includes/_page-intro.html

        //
          Element summary has to be displayed only when Editing element, NOT when Adding element
        <div class="dts-element-summary">
          <h2 class="dts-element-summary__title"><span>Juneau Inundación Costera January 12 21</span><span>Juneau Coastal Flood Crisis</span></h2>
          <div class="dts-element-summary__status">
            <span class="dts-status dts-status--draft" aria-hidden="true"></span>
            <span id="draftDescription">Draft</span>
          </div>
          <div class="dts-element-summary__metadata">
            <dl class="dts-metadata">
              <div class="dts-metadata__item">
                <dt>Event added to system:</dt>
                <dd>12-01-2021 T00:00:00.001</dd>
              </div>
              <div class="dts-metadata__item">
                <dt>Added by:</dt>
                <dd>Firstname Lastname, Org Name</dd>
              </div>
            </dl>
            <dl class="dts-metadata dts-metadata--highlight">
              <div class="dts-metadata__item">
                <dt>Affiliated records:</dt>
                <dd><span>105</span><a href="#">View records</a></dd>
              </div>
              <div class="dts-metadata__item">
                <dt>Impact analysis:</dt>
                <dd><a href="#">Country</a><a href="#">Global</a></dd>
              </div>
            </dl>
          </div>
          <div class="dts-form__actions dts-form__actions--standalone">
            <button type="button" class="mg-button mg-button--small mg-button-system">
              <svg aria-hidden="true" focusable="false" role="img">
                <use href="assets/icons/delete.svg#delete"></use>
              </svg>
              <span>Delete</span>
            </button>
          </div>
        </div>

        <form class="dts-form">
          //
            Form header with back button has to be displayed only when Adding element, NOT when Editing element
          <div class="dts-form__header">
            <a href="#" class="mg-button mg-button--small mg-button-system">Back</a>
          </div>
          <div class="dts-form__body">
            <div class="mg-grid mg-grid__col-3">
              <div class="dts-form-component">
                <label>
                  <div class="dts-form-component__label">
                    <span><abbr title="mandatory">*</abbr>First name</span>
                  </div>
                  <input type="text" placeholder="Enter first name" required>
                </label>
              </div>
              <div class="dts-form-component">
                <label>
                  <div class="dts-form-component__label">
                    <span>Last name</span>
                  </div>
                  <input type="text" placeholder="Enter last name">
                </label>
              </div>
              <div class="dts-form-component">
                <label>
                  <div class="dts-form-component__label">
                    <span><abbr title="mandatory">*</abbr>Email</span>
                  </div>
                  <input type="email" placeholder="Enter Email" required>
                </label>
              </div>
              <div class="dts-form-component mg-grid__col--span-2">
                <label>
                  <div class="dts-form-component__label">
                    <span><abbr title="mandatory">*</abbr>Organisation</span>
                  </div>
                  <input type="text" placeholder="Enter organisation" required>
                </label>
              </div>
              <div class="dts-form-component">
                <label>
                  <div class="dts-form-component__label">
                    <span>Location access</span>
                  </div>
                  <input type="search" list="locations" placeholder="All locations">
                  <datalist id="locations">
                    <option value="location 1">
                    <option value="location 2">
                    <option value="location 3">
                    <option value="location 4">
                    <option value="location 5">
                  </datalist>
                </label>
              </div>
              <div class="dts-form-component">
                <label>
                  <div class="dts-form-component__label">
                    <span><abbr title="mandatory">*</abbr>Role</span>
                  </div>
                  <select required>
                    <option value="">select role</option>
                    <option value="viewer">Data viewer</option>
                    <option value="collector">Data collector</option>
                    <option value="validator">Data validator</option>
                    <option value="Admin">Admin</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="mg-grid mg-grid__col-3">
              <div class="dts-form__additional-content mg-grid__col--span-2">
                <div class="dts-heading-5">You have selected [Role]</div>
                <div>A [Role] is able to... Details here... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
              </div>
            </div>
            <div class="dts-form__actions">
              <button type="button" class="mg-button mg-button-primary">Save</button>
              <a href="#" class="mg-button mg-button-outline">Discard</a>
            </div>
          </div>
        </form>

      </div>

    </main>

    include includes/_footer.html

  </div>

  include includes/_scripts.html

</body>

</html>