<!doctype html>
<html lang="en">

<head>
  <title>DTS</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="assets/css/style-dts.css">
</head>

<body>
  <div class="dts-page-container">

    include includes/_header.html

    <main class="dts-main-container">
 
      include includes/_page-title.html
      include includes/_sub-navigation.html

      <section>
        <div class="mg-container">
          page content here
        </div>
      </section>
    </main>

    include includes/_footer.html

  </div>

  include includes/_scripts.html

</body>

</html>