<!DOCTYPE html>

<head>
	<title>DTS</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="assets/css/style-dts.css">
</head>

<body>
	
	<div class="mg-container">
		<h1>Icons</h1>
		<h4>Icons coming from DTS Figma - Atoms/Icons screen</h4>
		<ul style="list-style: none; margin:0; padding: 1rem; display: flex; flex-wrap: wrap; gap: 1.6rem; background: #F2F2F2">
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/add.svg#add"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/arrow-down.svg#arrow-down"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/arrow-left.svg#arrow-left"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/arrow-right.svg#arrow-right"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/arrow-up.svg#arrow-up"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/check.svg#check"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/chevron-down.svg#chevron-down"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/chevron-left.svg#chevron-left"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/chevron-right.svg#chevron-right"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/chevron-up.svg#chevron-up"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/close.svg#close"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/download.svg#download"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/edit.svg#edit"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/envelope-open-text.svg#envelope"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/error.svg#error"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/expand.svg#expand"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/external-link-open-new.svg#external"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/eye-hide-password.svg#eye-hide"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/eye-show-password.svg#eye-show"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/help-outline.svg#help-outline"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/info.svg#info"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/information_outline.svg#information"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/link.svg#link"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/logout.svg#logout"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/paperclip.svg#attachment"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/refresh.svg#refresh"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/settings.svg#settings"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/trash-alt.svg#delete"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/user-profile.svg#user"></use>
				</svg>
			</li>
			<li>
				<svg aria-hidden="true" focusable="false" role="img">
					<use href="assets/icons/warning.svg#warning"></use>
				</svg>
			</li>
		</ul>
		<br><br><br>
		<h4 style="margin-bottom: 0;">Icons coming from Mangrove</h4>
		<p>(not listed in DTS Figma - Atoms/Icons screen)</p>
		<ul style="list-style: none; margin:0; padding: 1rem; display: flex; flex-wrap: wrap; gap: 1.6rem; background: #F5DDCC">
			<li>
				<img src="assets/icons/hamburger.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/tick-blue.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/tick-ghost-blue.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/tick-grey.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/tick-sky-blue.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/tick-white.svg" alt="" />
			</li>
		</ul>
		<br><br><br>
		<h4 style="margin-bottom: 0;">Icons coming from PreventionWeb site</h4>
		<p>(not listed in DTS Figma - Atoms/Icons screen)</p>
		<ul style="list-style: none; margin:0; padding: 1rem; display: flex; flex-wrap: wrap; gap: 1.6rem; background: #CCCCCC">
			<li>
				<img src="assets/icons/facebook-white.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/flickr-white.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/linkedin-white.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/rss-white.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/x-white.svg" alt="" />
			</li>
			<li>
				<img src="assets/icons/youtube-white.svg" alt="" />
			</li>
		</ul>
	</div>

</body>

</html>