<!doctype html>
<html lang="en">

<head>
  <title>DTS</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="assets/css/style-dts.css">
</head>

<body>
  <div class="dts-page-container">

    include includes/_header.html

    <main class="dts-main-container">
      <section>
        <div class="mg-container">
          <div class="dts-form-field">
            //
              Add aria-invalid="true" attribute to label tag when the field has ERRORS
            <label aria-invalid="true">
              //
                Add disabled attribute to the input tag to make it DISABLED
                Add aria-describedBy="inputErrorId" attribute to the input tag when the field has ERRORS
              <input type="checkbox" name="" aria-describedBy="inputErrorId" />
              <span>Checkbox label</span>
            </label>
            <span class="dts-form-field__error-msg" id="inputErrorId" aria-live="assertive">
              Error message goes here
            </span>
          </div>
        </div>
      </section>
      <section>
        <div class="mg-container">page component 2 here</div>
      </section>
    </main>

    include includes/_footer.html

  </div>
</body>

</html>