<!DOCTYPE html>

<head>
	<title>DTS</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="assets/css/style-dts.css">
</head>

<body>
	
	<div class="mg-container">
		<h1>Indicators</h1>
		<p>Indicators don't have a fixed width, they are usually displayed in a grid layout.</p>
		<br>
		<h4>Indicators with Target Color Numbers</h4>
		<div class="mg-grid mg-grid__col-4" style="gap: 16px;">
			<div class="dts-indicator dts-indicator--target-number-a">
				<span>10,615</span>
			</div>
			<div class="dts-indicator dts-indicator--target-number-b">
				<span>56,437</span>
			</div>
			<div class="dts-indicator dts-indicator--target-number-c">
				<span>21,746$L</span>
			</div>
			<div class="dts-indicator dts-indicator--target-number-d">
				<span>$143,201,201</span>
			</div>
			<div class="dts-indicator dts-indicator--target-number-e">
				<span>10,615</span>
			</div>
			<div class="dts-indicator dts-indicator--target-number-f">
				<span>10,615</span>
			</div>
			<div class="dts-indicator dts-indicator--target-number-g">
				<span>10,615</span>
			</div>
		</div>
		<br><br>
		<h4>Indicators with Target Color Boxes</h4>
		<div class="mg-grid mg-grid__col-4" style="gap: 16px;">
			<div class="dts-indicator dts-indicator--target-box-a">
				<span>10,615</span>
			</div>
			<div class="dts-indicator dts-indicator--target-box-b">
				<span>56,437</span>
			</div>
			<div class="dts-indicator dts-indicator--target-box-c">
				<span>21,746$L</span>
			</div>
			<div class="dts-indicator dts-indicator--target-box-d">
				<span>$143,201,201</span>
			</div>
			<div class="dts-indicator dts-indicator--target-box-e">
				<span>10,615</span>
			</div>
			<div class="dts-indicator dts-indicator--target-box-f">
				<span>10,615</span>
			</div>
			<div class="dts-indicator dts-indicator--target-box-g">
				<span>10,615</span>
			</div>
		</div>
	</div>

</body>

</html>