<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<title>DTS - templates list</title>
</head>

<body>
	<img src="assets/images/dldt-logo-mark.svg" style="width: 100px;display:block;margin:auto;">
	<h1 style="text-align: center;">HTML/CSS templates</h3>
		<ul>
			<li><a href="base.html">Base template</a> (header, main, footer)</li>
		</ul>
</body>

</html>