<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<title>DTS - templates list</title>
</head>

<body>
	<img src="assets/images/dldt-logo-mark.svg" style="width: 100px;display:block;margin:auto;">
	<h1 style="font-size: 3rem; text-align: center;">HTML/CSS templates</h1>
	<ul style="font-size: 1.5rem; display: grid; gap: 1rem">
		<li><a href="base.html">Base template</a> (header, main, footer)</li>
		<li><a href="form.html">Form template <span style="color: red;">WIP</span></a> - (columns layout, elements styling)</li>
	</ul>
	<hr>
	<h3>Release notes</h3>
	<ul style="font-size: 1.125rem; display: grid; gap: 1rem; list-style:none;padding:0">
		<li>October 31, 2024 - Added password visibility toggling feature to Form template</li>
		<li>October 30, 2024 - Added Instance footer to Base template</li>
	</ul>
</body>

</html>