<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<title>DTS - templates list</title>
</head>

<body>
	<img src="assets/img/global-platform-2019-logo.png" style="width:350px;display:block;margin:auto">
	<h1>HTML/CSS templates</h3>
		<ul>
			<li><a href="base.html">Base template</a> (base page structure, header, content, footer)</li>
			<li><a href="form.html">Form template</a>(base  + complete form)</li>
		</ul>
</body>

</html>