<!DOCTYPE html>

<head>
	<title>DTS - HTML/CSS/Js deliverables</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="assets/css/style-dts.css">
</head>

<body>
	<div class="mg-container">
		<div style="display: flex; gap: 2.4rem; align-items: center">
			<img src="assets/images/dldt-logo-mark.svg" style="width: 100px;">
			<h1>HTML/CSS/Js deliverables</h1>
		</div>
		<hr>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="colors.html">Color palette</a></h2>
			<p>List of all colors that can be used on any page.</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="typography.html">Typography</a></h2>
			<p>List of all typography styles that can be used on any page.</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="icons.html">Icons</a></h2>
			<p>List of all icons that can be used on any page.</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="buttons.html">Buttons</a></h2>
			<p>List of all buttons that can be used on any page.</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="indicators.html">Indicators</a></h2>
			<p>List of all analytics indicators that can be used on any page.</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="base.html">Base template</a></h2>
			<p>Page template that can be used as base for any page.<br>It includes header (global and instance), page title, sub navigation, content, footer (global and instance).</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="form.html">Form template</a></h2>
			<p>Page template that can be used as a generic reference for form pages.<br>It includes intro section with help links, all required column based layouts, all form field types (with error messages and description), label tooltips, error banner, warning banner, action buttons.<br><span style="color: red;"> WIP - field types to be confirmed</span></p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="account-setup-01.html">Registration and set up account flow / Log in flow</a></h2>
			<p>Templates that can be used for Registration/Login flows, both for Admin and User.<br>It includes different steps with all layouts/elements needed and basic required validation.</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="add-edit-filter.html">Add/Edit element or Filter</a></h2>
			<p>Page template that can be used as reference for Add/Edit form pages (Asset, User, Event, Import, etc) or Filter sections (baseline data, effects, assets, users, records, analytics, etc).<br>It includes both the Edit section (top part) and the Add/Filter section (bottom part).</p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="add-record.html">Add Record</a></h2>
			<p>Page template that can be used as reference for complex form pages such as Add Record.<br>It includes form sections/subsections and media/confirmation modals (to see both examples click Media button and then on the modal click Done button).<br><span style="color: red;"> WIP - layout/elements to be confirmed</span></p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;"><a href="analytics-sectors.html">Analytics - Sectors</a></h2>
			<p>Page template that can be used as reference for Analytics section pages.<br>It includes Statistics/Indicators and Charts/Graphs/Maps/Tables placeholders.<br><span style="color: red;"> WIP - form elements to be confirmed</span></p>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;">Js scripts</h2>
			<p>Client side Js scripts that handle simple user interactions.</p>
			<ul>
				<li>Password visibility toggle (source/js/form.js)</li>
				<li>Submit enabling on required filled (source/js/form.js)</li>
				<li>Snackbar show/hide (source/includes/_scripts.html)</li>
			</ul>
		</div>
		<div style="padding-top: 2.4rem">
			<h2 style="margin-bottom: 0;">Third party libraries</h2>
			<p>Client side Js libraries that handle non-HTML5 UI patterns.</p>
			<ul>
				<li><a href="https://floating-ui.com/" target="_blank">Tooltips (Floating UI)</a> (source/includes/_scripts.html)</li>
			</ul>
		</div>
		<hr>
		<h2 style="text-align: center;">Release notes</h2>
		<dl style="display: grid; gap: 1rem; list-style:none;padding:0">
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">February 25, 2025:</dt>
				<dd style="margin-left: .8rem;">changed buttons color combination, see Buttons template (CSS only fix); added number of pages selection to pagination on 'Add/Edit element or Filter' template</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">February 17, 2025:</dt>
				<dd style="margin-left: .8rem;">added Pagination component to 'Add/Edit element or Filter' template; added Activated and Pending statuses and related table to 'Add/Edit element or Filter' template; fixed button new icon sizing (CSS only fix)</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">February 4, 2025:</dt>
				<dd style="margin-left: .8rem;">added Rejected status to table of 'Add/Edit element or Filter' template</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">February 3, 2025:</dt>
				<dd style="margin-left: .8rem;">removed unexpected vertical scrollbar within pages (CSS only fix)</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">January 31, 2025:</dt>
				<dd style="margin-left: .8rem;">replaced icons with new ones from Google Material in Icons template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">January 24, 2025:</dt>
				<dd style="margin-left: .8rem;">added new icons to Icons template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">January 10, 2025:</dt>
				<dd style="margin-left: .8rem;">fixed links, tabs and status color contrast accessibility issues.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">January 9, 2025:</dt>
				<dd style="margin-left: .8rem;">documented Color palette; fixed buttons color contrast accessibility issues.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">December 19, 2024:</dt>
				<dd style="margin-left: .8rem;">added status legend to Add/Edit element or Filter template; updated header to display instance image</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">December 17, 2024:</dt>
				<dd style="margin-left: .8rem;">updated header to contain country/instance flag</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">December 13, 2024:</dt>
				<dd style="margin-left: .8rem;">added basic Table component to Add/Edit element or Filter template</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">December 6, 2024:</dt>
				<dd style="margin-left: .8rem;">added Analytics Sector template; added and documented Indicators component; added Tablist component; updated page intro links class; updated page header markup.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 22, 2024:</dt>
				<dd style="margin-left: .8rem;">documented Button component.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 21, 2024:</dt>
				<dd style="margin-left: .8rem;">updated and documented Icons list (changed a few references in html templates).</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 20, 2024:</dt>
				<dd style="margin-left: .8rem;">updated Modal dialog to switch between file and link attachment.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 19, 2024:</dt>
				<dd style="margin-left: .8rem;">added Add Record template; simplified form grid structure on all form templates (no grid lines, just spans and offsets); moved Modal dialogs to Add Record template; reviewed documentation page.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 14, 2024:</dt>
				<dd style="margin-left: .8rem;">added Info tooltip to form labels on Form template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 12, 2024:</dt>
				<dd style="margin-left: .8rem;">updated form label HTML code on all templates containing forms.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 12, 2024:</dt>
				<dd style="margin-left: .8rem;">added Sub navigation component to Base template; updated snackbar HTML code on Account Setup step 3; added Alert box and Info box on Form template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 12, 2024:</dt>
				<dd style="margin-left: .8rem;">added alert icons with related styles; added Modal dialogs to Add/Edit element template (click Delete button and then Done button to see two examples); added input type url to Form template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 8, 2024:</dt>
				<dd style="margin-left: .8rem;">added Page title component to Base template; added Add/Edit element template; added Status component; added Tooltip component (to be used on other templates); updated CSS classes on Account Setup flow pages; updated Form template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 7, 2024:</dt>
				<dd style="margin-left: .8rem;">changed Account setup flow from modal to page; changed OTP data entry from separate fields to unique field; added snackbar component.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 6, 2024:</dt>
				<dd style="margin-left: .8rem;">updated screen/field management scripts; added minlength attribute to pwd fields; styled Admin Account setup OTP entry screen; added single digit Js control on OTP fields.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 5, 2024:</dt>
				<dd style="margin-left: .8rem;">updated pwd visibility toggle management script; styled Admin Account data entry screen + system button variant; added required fields button enabling script.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">November 4, 2024:</dt>
				<dd style="margin-left: .8rem;">updated pwd visibility toggle management on all Form templates; added Js scripts include at bottom of pages; styled Admin Account setup screen flow.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">October 31, 2024:</dt>
				<dd style="margin-left: .8rem;">added Form modal template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">October 31, 2024:</dt>
				<dd style="margin-left: .8rem;">added password visibility toggling feature to Form template.</dd>
			</div>
			<div style="display: flex;">
				<dt style="font-weight: bold; white-space: nowrap;">October 30, 2024:</dt>
				<dd style="margin-left: .8rem;">Added Instance footer to Base template.</dd>
			</div>
		</dl>
	</div>
</body>

</html>