<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<title>DTS - templates list</title>
</head>

<body>
	<img src="assets/images/dldt-logo-mark.svg" style="width: 100px;display:block;margin:auto;">
	<h1 style="font-size: 3rem; text-align: center;">HTML/CSS templates</h1>
	<ul style="font-size: 1.5rem; display: grid; gap: 1rem">
		<li><a href="base.html">Base template</a> (header, main, page title, footer)</li>
		<li><a href="form.html">Form template</a> - (columns layout, elements styling) <span style="color: red;">WIP</span></li>
		<li><a href="account-setup-01.html">Account Setup (Admin/User) flow</a> - (columns layout, elements styling, field management scripts)</li>
		<li><a href="add-edit.html">Add/Edit element (User/Event/...) template</a> - (columns layout, elements styling) <span style="color: red;">WIP</span></li>
		<!-- <li><a href="form-modal.html">Admin Account Setup modal flow</a> - (columns layout, elements styling, screen/field management scripts) <span style="color: red;">Aborted</span></li>-->
	</ul>
	<hr>
	<h3>Release notes</h3>
	<ul style="font-size: 1.125rem; display: grid; gap: 1rem; list-style:none;padding:0">
		<li>November 14, 2024 - Added Info tooltip to form labels on Form template (used https://floating-ui.com/ library)</li>
		<li>November 12, 2024 - Updated form label HTML code on all templates containing forms</li>
		<li>November 12, 2024 - Added Sub navigation component to Base template; Updated snackbar HTML code on Account Setup step 3; Added Alert box and Info box on Form template</li>
		<li>November 12, 2024 - Added alert icons with related styles; Added Modal dialogs to Add/Edit element template (click Delete button and then Done button to see two examples); Added input type url to Form template</li>
		<li>November 8, 2024 - Added Page title component to Base template; Added Add/Edit element template; Added Status component; Added Tooltip component (to be used on other templates); Updated CSS classes on Account Setup flow pages; Updated Form template</li>
		<li>November 7, 2024 - Changed Account setup flow from modal to page; Changed OTP data entry from separate fields to unique field; Added snackbar component</li>
		<li>November 6, 2024 - Updated screen/field management scripts; Added minlength attribute to pwd fields; Styled Admin Account setup OTP entry screen; Added single digit Js control on OTP fields</li>
		<li>November 5, 2024 - Updated pwd visibility toggle management script; Styled Admin Account data entry screen + system button variant; Added required fields button enabling script</li>
		<li>November 4, 2024 - Updated pwd visibility toggle management on all Form templates; Added Js scripts include at bottom of pages; Styled Admin Account setup screen flow - WIP</li>
		<li>October 31, 2024 - Added Form modal template - NOT COMPLETED</li>
		<li>October 31, 2024 - Added password visibility toggling feature to Form template</li>
		<li>October 30, 2024 - Added Instance footer to Base template</li>
	</ul>
</body>

</html>