<!DOCTYPE html>

<head>
	<title>DTS</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="assets/css/style-dts.css">
</head>

<body>
	
	<div class="mg-container">
		<h1>Typography</h1>
		<p>Any typography style can be applied to any HTML tag. In particular, heading styles can be applied to any <code>h</code> tag (e.g. you can have an <code>h4</code> tag styled as a heading 2).<br>Semantic and style are separate topics and should be applied accordingly. In particular, use of <code>h</code> tags should just follow semantic/SEO criteria.</p>
		<p>The default typography style for all items (if not specifically defined) is Body text.</p>
		<p>Latin, Arabic or Chinese font face is applied automatically through a general CSS rule.</p>
		<br>
		<div class="dts-heading-1">Heading 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-heading-2">Heading 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-heading-3">Heading 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-heading-4">Heading 4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-heading-5">Heading 5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-body-text-large">Body text large - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-body-text">Body text - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-tab-label">Tab label - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-body-label">Body label - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-body-text-small">Body text small - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-body-label-small">Body label small - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-body-text-smaller">Body text smaller - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="dts-body-text-extra-small">Body text extra small - Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
	</div>

</body>

</html>