.dts-form {
  &__actions {
    display: grid;
    gap: $dts-spacing-16;

    @include devicebreak(small) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.dts-form-component {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: $dts-spacing-8;
  margin-bottom: $dts-spacing-20;

  @include devicebreak(small) {
    margin-bottom: $dts-spacing-16;
  }

  &__field--horizontal {
    display: flex;
    flex-direction: row;
    gap: $dts-spacing-8;
  }

  &__pwd {
    position: relative;

    &-toggle {
      position: absolute;
      bottom: $dts-spacing-2;
      right: 6px;
      padding: 0
    }
  }

  &__hint {
    @extend .dts-body-text-small;
    margin-top: -$dts-spacing-4;

    @include devicebreak(small) {
      margin-bottom: $dts-spacing-8;
    }

    &--error {
      color: $mg-color-red-900;
    }
  }

  abbr {
    text-decoration: none;
    margin-right: $dts-spacing-4;
  }

  label {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: $dts-spacing-8;
    align-items: start;

    &:has(input[type="checkbox"]),
    &:has(input[type="radio"]) {
      cursor: pointer;
    }

    &[aria-invalid="true"] input,
    &[aria-invalid="true"] textarea,
    &[aria-invalid="true"] select {
      // background-color: rgba(255, 77, 79, 0.12);
      border: 1px solid $mg-color-red-900;
    }

    >span {
      height: 100%;
      display: flex;
      align-items: end;
    }

    &:has([disabled]) {
      color: $dts-coal-500;
      cursor: not-allowed;
    }
  }

  input,
  textarea,
  select {
    background-color: $mg-color-white;
    border: 1px solid $dts-coal-300;
    border-radius: 6px;
    padding: $dts-spacing-4 $dts-spacing-8;
    @extend .dts-body-text-small;

    &:hover:not(:disabled):not([readonly]) {
      border-color: $dts-undrr-blue-brand;
      outline: none;
    }

    &:focus-visible {
      outline: none;

      &:not(:read-only) {
        border-color: $dts-undrr-blue-brand;
      }
    }

    &:disabled,
    &:read-only:not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(select) {
      cursor: not-allowed;
    }

    &:disabled {
      background-color: $dts-coal-100;
    }

    &[type="file"] {
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      &::-webkit-file-upload-button {
        cursor: pointer;
        background-color: $mg-color-white;
        border: 1px solid $dts-coal-300;
        border-radius: 6px;
        padding: $dts-spacing-4 $dts-spacing-8;
        @extend .dts-body-text-small;
      }

      &:hover:not(:disabled),
      &:focus-visible {
        &::-webkit-file-upload-button {
          border-color: $dts-undrr-blue-brand;
          outline: none;
        }
      }
    }
  }

  select {
    appearance: none;
    background: url('../icons/chevron-down.svg') no-repeat;
    background-size: 10px;
    background-position: top 48% right $dts-spacing-8;
    padding: 5px $dts-spacing-8 3px;
    width: 100%;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    &[aria-invalid="true"] input[aria-describedBy]:not(:disabled) {
      border: 1px solid $mg-color-red-900;
    }

    .dts-form-component__hint {
      margin-top: $dts-spacing-8;
    }
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: $dts-spacing-24;
    height: $dts-spacing-24;
    margin: 0;
    padding: 0;
    flex-shrink: 0;

    &:hover:not(:disabled),
    &:focus-visible {
      box-shadow: 0px 1px 8px 0px rgba(0, 79, 145, 0.41);
      outline: none;
    }

    &:checked {
      background: $dts-undrr-blue-brand url('../icons/tick-white.svg') 3px 3px no-repeat;
    }

    &:disabled {
      cursor: not-allowed;

      +span {
        cursor: not-allowed;
      }
    }
  }

  input[type="radio"] {
    flex-shrink: 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: $mg-color-white;
    margin: 0;
    width: $dts-spacing-24;
    height: $dts-spacing-24;
    border-radius: 50%;
    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transform: scale(0);
      box-shadow: inset 1em 1em $dts-undrr-blue-brand;
    }

    &:hover:not(:disabled),
    &:focus-visible {
      box-shadow: 0px 1px 8px 0px rgba(0, 79, 145, 0.41);
      outline: none;
    }

    &:checked::before {
      transform: scale(1);
    }

    &:disabled {
      background-color: $dts-coal-100;
      cursor: not-allowed;

      +span {
        cursor: not-allowed;
      }
    }
  }
}

[dir="rtl"] {
  select {
    background-position: top 48% left $dts-spacing-8;
  }
}