.dts-indicator {
  display: grid;
  place-content: center;
  height: 9rem;
  font-size: 3.4rem;
  padding: 0 $dts-spacing-16;
  background-color: $dts-coal-100;

  @include devicebreak(small) {
    font-size: 2.6rem;
  }

  @include devicebreak(medium) {
    font-size: 3.4rem;
  }

  @include devicebreak(large) {
    font-size: 4.6rem;
  }

  &--target-number-a {
    color: $dts-target-a;
  }

  &--target-box-a {
    font-weight: 500;
    color: $dts-target-a;
  }

  &--target-number-b {
    color: $dts-target-b;
  }

  &--target-box-b {
    font-weight: 500;
    background-color: $dts-violet-100;
    color: $dts-violet-800;
  }

  &--target-number-c {
    color: $dts-tango-700;
  }

  &--target-box-c {
    font-weight: 500;
    background-color: $dts-tango-100;
    color: $dts-tango-800;
  }

  &--target-number-d {
    color: $dts-teal-800;
  }

  &--target-box-d {
    font-weight: 500;
    background-color: $dts-teal-100;
    color: $dts-teal-800;
  }

  &--target-number-e {
    color: $dts-killarney-700;
  }

  &--target-box-e {
    font-weight: 500;
    background-color: $dts-killarney-100;
    color: $dts-killarney-800;
  }

  &--target-number-f {
    color: $dts-target-f;
  }

  &--target-box-f {
    font-weight: 500;
    background-color: $dts-slate-100;
    color: $dts-slate-800;
  }

  &--target-number-g {
    color: $dts-target-g;
  }

  &--target-box-g {
    font-weight: 500;
    background-color: $dts-stiletto-100;
    color: $dts-stiletto-700;
  }
}