.dts-page-intro {
  display: grid;
  margin-bottom: $dts-spacing-48;

  &__links {
    display: grid;
    gap: $dts-spacing-24;

    @include devicebreak(small) {
      display: flex;
      justify-content: flex-end;
    }
  }
}