.dts-status {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  &--draft,
  &--pending {
    border: 1px solid $dts-coal-600;
  }

  &--wait-info {
    background-color: $dts-tango-600;
  }

  &--wait-valid {
    background-color: $dts-violet-500;
  }

  &--published {
    background-color: $dts-killarney-500;
  }

  &--undrr,
  &--activated {
    background-color: $dts-cerulean-400;
  }

  &--rejected {
    background-color: $mg-color-red-900;
  }
}
