.dts-tablist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  &__button {
    @extend .mg-button;
    border-radius: 0;
    background-color: $dts-coal-100;
    border-color: $dts-coal-200;
    color: $dts-coal-400;

    &:hover,
    &:focus-visible {
      color: $dts-grey-500;
    }

    &[aria-selected="true"] {
      color: $dts-grey-500;
    }
  }
}