.dts-tooltip {
  position: relative;
  display: inline-block;

  /* The arrow that connects the tooltip to the container */
  &::before {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    border: .5em solid transparent;
    border-bottom-color: $mg-color-white;
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* This allows users to move their cursor from the button to the tooltip */
  &::after {
    position: absolute;
    right: -20%;
    top: 100%;
    left: -20%;
    display: block;
    height: 1em;
  }

  &.tooltip-visible::before,
  &.tooltip-visible::after {
    content: '';
    opacity: 1;
  }

  &.top::before,
  &.top::after,
  &.top [role="tooltip"] {
    top: unset;
    bottom: 100%;
  }

  &.top::before {
    border-top-color: $mg-color-white;
    border-bottom-color: transparent;
  }

  &.top [role="tooltip"] {
    bottom: calc(100% + 1em);
  }

  /* Tooltip styles */
  [role="tooltip"] {
    position: absolute;
    top: calc(100% + 1em);
    // left: 25rem;
    // transform: translateX(-27rem);
    margin: 0;
    padding: $dts-spacing-8;
    border-radius: .25em;
    width: max-content;
    max-width: 480px;
    background: $mg-color-white;
    box-shadow: 0px 6px 19px 0px rgba(0, 0, 0, 0.1307);
    @extend .dts-body-text-small;
    opacity: 1;
    transition: opacity 0.3s;

    @include devicebreak(large) {}
  }

  &--status {
    &::before {
      border-bottom-color: $dts-black;
    }

    &.top::before {
      border-top-color: $dts-black;
    }

    [role="tooltip"] {
      left: 50%;
      transform: translateX(-50%);
      min-width: max-content;
      line-height: 1 !important;
      color: $mg-color-white;
      background: $dts-black;
      box-shadow: 0 1px 2px hsl(0, 0%, 0%);
    }
  }

  /* Hides the tooltip */
  .tooltip-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.dts-form-component__label .dts-tooltip {
  align-self: center;
}