[role="tooltip"] {
  display: none;
  width: max-content;
  max-width: 340px;
  position: absolute;
  top: 0;
  left: 0;
  background: $mg-color-white;
  box-shadow: 0px 6px 19px 0px rgba(0, 0, 0, 0.1307);
  padding: $dts-spacing-8;
  border-radius: $dts-spacing-4;
  @extend .dts-body-text-small;
}

.dts-tooltip__arrow {
  position: absolute;
  background: $mg-color-white;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.dts-form-component__label .dts-tooltip__button,
.dts-form-component__field--horizontal .dts-tooltip__button {
  align-self: flex-start;
  margin-top: $dts-spacing-4;
}