@charset "utf-8";
/* Override HTML tags*/
h2 {
	color:inherit;
	font-family: "DIN Next W01", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight:700;
	font-size:19px;
	margin-bottom:5px;
}
h2.big {
	font-size:24px;
	font-weight:500;
	margin-top:0;
}
h4.clearfix span {
	display:inline-block;
	margin-top:15px;
}
.panel.grey h3 {
  height: 30px;
}
a {
  color: #7a607a;
}
a:hover, a:focus {
  color: #7a607a;
  text-decoration:underline;
}
a.more:not(.button)::after {
  border-left: 4px solid #7a607a;
}
select:not(*:root) {
    padding-top: 4px;
}
/* Override grid and main page blocks*/
.row.full-screen {
	max-width: none;
	width: 100%;
}
.headerContainer {
	padding:20px 0 0 !important;
	position:relative;
}
.headerContainer .large-2 {
	position:absolute;
	z-index:100;
	width:220px;
	margin-left: -20px;
}
.headerContainer .large-10 {
	text-align: right;
	padding-right:0;
}
.headerContainer .login {
	display:inline-block;
	font-size: 13px;
	padding-bottom:15px;
}
.headerContainer input, .headerContainer select {
	display:inline-block;
	height:36px;
	margin-top:0;
}
.headerContainer input {
	width:250px;
}
.headerContainer select {
	width:147px;
	margin-right: 3px;
}
#PWHeader #mainMenu {
	margin:10px 0 15px;
	font-size: 18px;
	font-weight: 400;
}
#PWHeader #mainMenu .current a {
  color: #7a607a;
	font-weight: 500;
}
#PWContent .breadcrumbs {
	margin-left:11px;
}
#PWContent .breadcrumbs > *::before {
  border-left: 5px solid #fff;
}
#contentPage {
  border-bottom:none;
  margin-bottom: 10px;
}
#PWContent > footer {
	background-color:#E7D8C2;
	text-align:center;
}
footer .purple {
	background-color:#584358;
}
#socialBar {
  font-family: "FontAwesome Regular","FontAwesome";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin:0 auto 20px;
  display: inline-block;
}
#socialBar a {
  color: #f9f5f0;
}
#footerMenu {
	display: inline-block;
	margin:10px 0 5px;
}
#footerMenu li a {
  color: #fff;
}
/* Override layout items*/
.panel.data.color4 {
	background-color:#584358 !important;
}
.panel.grey .module {
	margin-bottom:20px;
}
.button.primary {
	background-color:#695269;
	background: -webkit-linear-gradient(#7a607a, #695269);
	background: -o-linear-gradient(#7a607a, #695269);
	background: -moz-linear-gradient(#7a607a, #695269);
	background: linear-gradient(#7a607a, #695269);
	border: 1px solid #695269;
	box-shadow: none;
}
.button.primary:hover, .button.primary:focus {
	background-color:#7a607a;
	background: -webkit-linear-gradient(#8a738a, #7a607a);
	background: -o-linear-gradient(#8a738a, #7a607a);
	background: -moz-linear-gradient(#8a738a, #7a607a);
	background: linear-gradient(#8a738a, #7a607a);
}
.button.round, .panel .button.round {
  background: #e7d8c2 none repeat scroll 0 0;
  color: #3b3b3b;
}
.button.round:hover, .button.round:focus {
	background:#F7E7D0;
}
.button.round.disabled, .panel .button.round.disabled {
  background: #fff none repeat scroll 0 0;
  opacity:1;
}
.button.round.disabled > *:before {
	background:#3b3b3b;
}
.alert-box.info {
  background-color: #e7d8c2;
  border-color: #e7d8c2;
  color: #3b3b3b;
}
p.small-text.service {
	background:url("../../../assets/img/sprite.png") no-repeat -20px -2749px;
	padding:1px 0 0 25px;
}
p.small-text.city {
	background:url("../../../assets/img/sprite.png") no-repeat -20px -2900px;
	padding:1px 0 0 25px;
}
.top-banner p.small-text.service {
	background:url("../../../assets/img/sprite.png") no-repeat -20px -2799px;
	margin-left: -25px;
}
.large-3 .location-data li a:not(.button).email {
	color:#7a607a;
}
span.phone {
	background:url("../../../assets/img/sprite.png") no-repeat -20px -1885px;
	padding:3px 0 0 30px;
	font-size:13px;
	font-weight:500;
}
.table2.hfa-progress thead th, .table2.hfa-progress thead td{
	text-align:right;
}
.table2.hfa-progress .labels {
	white-space:normal;
	vertical-align:middle;
}
.table2.hfa-progress .progress .meter{
	color:#fff;
	text-align:right;
	padding-right:5px;
	padding-top: 1px;
	font-weight:700;
}
.table2.hfa-progress .progress.good .meter{
	background-color:#669900 !important;
}
.table2.hfa-progress .progress.fair .meter{
	background-color:#9D773E !important;
}
.table2.hfa-progress .progress.poor .meter{
	background-color:#6E536E !important;
}
h4.module-title.rmcity {
	background-image:url("../img/ico-rmcity.png");
	background-position:20px 15px;
	background-repeat:no-repeat;
	padding:15px 20px 12px 70px;
}
ul.content-type p.small-text.margintop {
	margin-top:0.5rem;
}
* .no-margin {
	margin:0;
}
/* New patterns */
#contentPage.no-padding-top{padding-top:0;}
.external-header {
	position: relative;
    z-index: 10;
	color:#fff;
}
.external-header p{
	margin-top: 1.25rem;
}
.slides .slide-text {
	position:absolute;
	z-index:50;
	bottom:30px;
	right:0;
	width:50%;
	background-color:rgba(88, 67, 88, 0.8);
	color:#fff;
	padding:20px 20px 0;
}
#rcc-home-carousel .flex-control-thumbs{
	margin:0 70px;
	width:920px;
	position:absolute;
	bottom:0;
	margin-bottom:-56px;
	z-index:100;
}
#rcc-home-carousel .flex-control-thumbs li{
	width:190px;
	margin-right:40px;
}
#rcc-home-carousel .flex-control-thumbs img {
	width: auto;
}
#rcc-home-carousel-nav{
	margin:0 50px;
}
#rcc-home-carousel-nav .large-3 div{
	text-align:center;
	padding:20px;
	background-color:#8a738a;
	color:#fff;
	min-height:72px;
}
#rcc-home-carousel-nav .large-3.active:before{
	width:0; 
	height:0; 
	border-bottom: 8px solid #5E4A5E;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	content: "";
	position: absolute;
	z-index:100;
	top:-8px;
	left:150px;
	margin: 0 0.66667rem;
	display:inline-block;
}
.circle-container {
	margin:auto;
	width:170px;
}
.circle-icon {
	background:url("../img/ico-circle-purple.png") no-repeat 0 0;
	width:170px;
	height:170px;
	margin:0;
	color:#fff;
	font-size: 72px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.circle-icon .fa{
	float:none;
	margin:0;
}
.handshake {
	background:url("../img/ico-handshake.png") no-repeat 0 0;
	width:113px;
	height:113px;
	display:inline-block;
	margin-top: 25px;
}
span.circle-number{
	float:left;
	width:20px;
	height:20px;
	border-radius:10px;
	background-color:#aaa;
	color:#fff;
	margin-right:10px;
	text-align:center;
	padding-top:2px;
	font-size: 12px;
}
h3 span.circle-number{
	margin-top: -3px;
    padding-top: 5px;
}
