@charset "utf-8";
/* Print Styles */
@media print {
/*** No link underlining ***/
a[href]:after {
    content: "";
}
#contentPage {
  border-bottom:none;
}
/*** No element breaking ***/
table, .panel, .quote, .no-break {page-break-inside:avoid;}
/*** Background image printing ***/
.bkg-print {
    overflow:hidden;
}
p.small-text.documents {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.documents:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-740px;
	margin-left:-40px;
	height:760px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.documents:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-740px;
	position:absolute;
}
p.small-text.editor {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.editor:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-440px;
	margin-left:-40px;
	height:460px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.editor:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-440px;
	position:absolute;
}
p.small-text.educational {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.educational:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2475px;
	margin-left:-40px;
	height:2495px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.educational:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2475px;
	position:absolute;
}
p.small-text.organization {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.organization:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-800px;
	margin-left:-40px;
	height:820px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.organization:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-800px;
	position:absolute;
}
p.small-text.news {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.news:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-830px;
	margin-left:-40px;
	height:850px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.news:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-830px;
	position:absolute;
}
p.small-text.network {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.network:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2700px;
	margin-left:-40px;
	height:2720px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.network:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2700px;
	position:absolute;
}
p.small-text.academic {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.academic:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-890px;
	margin-left:-40px;
	height:910px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.academic:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-890px;
	position:absolute;
}
p.small-text.job {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.job:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-920px;
	margin-left:-40px;
	height:940px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.job:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-920px;
	position:absolute;
}
p.small-text.map {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.map:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-950px;
	margin-left:-40px;
	height:970px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.map:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-950px;
	position:absolute;
}
p.small-text.statistics {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.statistics:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-980px;
	margin-left:-40px;
	height:1000px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.statistics:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-980px;
	position:absolute;
}
p.small-text.trend {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.trend:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-1099px;
	margin-left:-40px;
	height:1119px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.trend:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-1099px;
	position:absolute;
}
p.small-text.key {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.key:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-1215px;
	margin-left:-40px;
	height:1235px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.key:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-1215px;
	position:absolute;
}
.top-banner p.small-text.academic, .top-banner p.small-text.job, .top-banner p.small-text.event {
	margin-left:0;
}
p.small-text.event {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.event:before, .top-banner p.small-text.event:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-709px;
	margin-left:-40px;
	height:729px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.event:not(*:root):before, .top-banner p.small-text.event:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-709px;
	position:absolute;
}
p.small-text.external {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.external:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-1325px;
	margin-left:-40px;
	height:1345px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.external:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-1325px;
	position:absolute;
}
p.small-text.profile {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.profile:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-1475px;
	margin-left:-40px;
	height:1495px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.profile:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-1475px;
	position:absolute;
}
p.small-text.twitterblack {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.twitterblack:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-51px;
	margin-left:-40px;
	height:71px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.twitterblack:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-51px;
	position:absolute;
}
p.small-text.hazard_icon_67 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_67:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2948px;
	margin-left:-40px;
	height:2968px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_67:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2948px;
	position:absolute;
}
p.small-text.hazard_icon_56 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_56:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2998px;
	margin-left:-40px;
	height:3198px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_56:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2998px;
	position:absolute;
}
p.small-text.hazard_icon_58 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_58:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3048px;
	margin-left:-40px;
	height:3068px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_58:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3048px;
	position:absolute;
}
p.small-text.hazard_icon_59 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_59:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3098px;
	margin-left:-40px;
	height:3118px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_59:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3098px;
	position:absolute;
}
p.small-text.hazard_icon_60 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_60:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3147px;
	margin-left:-40px;
	height:3167px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_60:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3147px;
	position:absolute;
}
p.small-text.hazard_icon_61 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_61:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3198px;
	margin-left:-40px;
	height:3218px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_61:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3198px;
	position:absolute;
}
p.small-text.hazard_icon_62 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_62:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3248px;
	margin-left:-40px;
	height:3268px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_62:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3248px;
	position:absolute;
}
p.small-text.hazard_icon_63 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_63:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3298px;
	margin-left:-40px;
	height:3318px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_63:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3298px;
	position:absolute;
}
p.small-text.hazard_icon_64 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_64:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3346px;
	margin-left:-40px;
	height:3366px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_64:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3346px;
	position:absolute;
}
p.small-text.hazard_icon_65 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_65:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3398px;
	margin-left:-40px;
	height:3418px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_65:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3398px;
	position:absolute;
}
p.small-text.hazard_icon_103 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_103:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3447px;
	margin-left:-40px;
	height:3467px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_103:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3447px;
	position:absolute;
}
p.small-text.hazard_icon_68 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_68:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3498px;
	margin-left:-40px;
	height:3518px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_68:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3498px;
	position:absolute;
}
p.small-text.hazard_icon_69 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_69:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3547px;
	margin-left:-40px;
	height:3567px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_69:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3547px;
	position:absolute;
}
p.small-text.hazard_icon_70 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_70:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3598px;
	margin-left:-40px;
	height:3618px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_70:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3598px;
	position:absolute;
}
p.small-text.hazard_icon_71 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_71:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3646px;
	margin-left:-40px;
	height:3666px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_71:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3646px;
	position:absolute;
}
p.small-text.hazard_icon_72 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_72:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3698px;
	margin-left:-40px;
	height:3718px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_72:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3698px;
	position:absolute;
}
p.small-text.hazard_icon_73 {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.hazard_icon_73:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3749px;
	margin-left:-40px;
	height:3769px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.hazard_icon_73:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3749px;
	position:absolute;
}
p.small-text.theme {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.theme:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3798px;
	margin-left:-40px;
	height:3818px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.theme:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3798px;
	position:absolute;
}
p.small-text.tagged {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.tagged:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-3848px;
	margin-left:-40px;
	height:3868px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.tagged:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-3848px;
	position:absolute;
}
p.small-text.story {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.story:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2249px;
	margin-left:-40px;
	height:2269px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.story:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2249px;
	position:absolute;
}
p.small-text.expert {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.expert:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2400px;
	margin-left:-40px;
	height:2420px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.expert:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2400px;
	position:absolute;
}
p.small-text.pwcontent {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.pwcontent:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2426px;
	margin-left:-40px;
	height:2446px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.pwcontent:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2426px;
	position:absolute;
}
p.small-text.search {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.search:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2447px;
	margin-left:-40px;
	height:2487px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.search:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2447px;
	position:absolute;
}
p.small-text.attachment {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
p.small-text.attachment:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2849px;
	margin-left:-40px;
	height:2869px;
	overflow:hidden;
	vertical-align:middle;
}
p.small-text.attachment:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2849px;
	position:absolute;
}
h4.geo {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
	position:relative;
}
h4.geo:before {/* background print for Firefox and IE */
	content: url("../img/sprite.png");
	display:inline-block;
	margin-top:-2311px;
	margin-left:-40px;
	height:2331px;
	overflow:hidden;
	vertical-align:middle;
}
h4.geo:not(*:root):before {/* background print for Chrome and Safari */
	margin-top:0;
	top:-2311px;
	position:absolute;
}
/*** Background color printing ***/
.meter {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
}
/* background print for Firefox and IE */
.meter {
	position: relative;
	overflow: hidden;
}
.meter:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border: 99999px #4a68a6 solid;
	z-index: 0;
}
.table2.hfa-progress .light .progress .meter:before{
	border: 99999px #a4b3d2 solid;
}
.meter * {
	position: relative;
	z-index: 1;
}
.button.grey, .button.orange {
	-webkit-print-color-adjust: exact;/* background print for Chrome and Safari */
}
/* background print for Firefox and IE */
.button.grey, .button.orange {
	position: relative;
	overflow: hidden;
}
.button.grey:before, .button.orange:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 0;
}
.button.grey:before {
	border: 99999px #d8d8d8 solid;
}
.button.orange:before {
	border: 99999px #f36649 solid;
}
.button.grey *, .button.orange * {
	position: relative;
	z-index: 1;
}
.label.selected{/* background print for Chrome and Safari */
	-webkit-print-color-adjust: exact;
}
/* background print for Firefox and IE */
.label.selected {
	position: relative;
	overflow: hidden;
	top:15px;
}
.label.selected:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border: 99999px #f36649 solid;
	z-index: 0;
}
.label.selected * {
	position: relative;
	z-index: 1;
}
/*** Specific pattern styles ***/
.large-3 {
  width:23%;
}
.large-9.width-for-print {
  width:77%;
}
.large-12 {
	position:relative;
}

/* RP print change 01: removed What's this panels from print */
.button.toggle-panel {
/*	right:15px;*/
	display:none;
}
/*.panel.gradient.what {
	display:block;
}*/
/**** end *****/

.panel.gradient .close{
	display:none;
}
.moreinfo{
	display:block;
}
#contentPage #profilePhotoBig {
  position: inherit;
}
}